include ./../layout
include watch_menu

link(rel='stylesheet', href='/stylesheets/watch_style.css')

block content
  h1
    i watch
    
  +menu(2020)

  br
  
  - var path = '../images/watch'

  //- div.movie
  //-   p.title Alien
  //-   p.sub 1979, Ridley Scott
  //-   img(data-src='#{path}/alien.png')
  //-   p.date 13 June 2020
    //- p.description todo: fill in from notes // i finally watched it!!


  div.movie
    p.title The 39 Steps
    p.sub 1935, Alfred Hitchcock
    img(data-src='#{path}/the_39_steps.png')
    p.date 10 June 2020
    p.description good...interesting plot structure - there are many characters we're introduced to briefly and then move on from, kind of like an adventure story. I can see how Orson Welles was influenced by this, especially the improvised, crazed speech the main character gives when he's mistaken for a political speaker. I also liked the moody landscape shots of the Scottish countryside. 

  div.movie
    p.title Bicycle Thieves
    p.sub <i>Ladri di biciclette</i>
    p.sub 1948, Vittorio De Sica
    img(data-src='#{path}/bicycle_thieves.png')
    p.date 8 June 2020
    p.description ahhhhhhhhhhhhhhh. wow - italian neo-realism. this film really captured the desparation that can underly mundane events, like getting your bicycle stolen, for someone who is struggling - specifically in post-war rome: everyone is poor and jobless. The son was such a moving part of the film, as an emotional mirror to the father and also an amplification: because he looks up to the father, and also hopes and believes in a better future - more purely, and thus more tragically. The tether between the father and son was so heart wrenching. The bicycle and the thief come to represent so much more by the end, which makes this story so essential and about the human struggle - the lengths we will go to, the cycles of hope and despair, the people we become when we're desparate. This film is something of a master work.

  div.movie
    p.title Rebecca
    p.sub 1940, Alfred Hitchcock
    img(data-src='#{path}/rebecca.png')
    p.date 6 June 2020
    p.description good; i can get on with this, kinda dig young laurence olivier more than i thought i would, this also exposes me more to daphne du maurier's writing, and feels like an invitation to read more of her stories. the casting choice really made this movie: judith anderson sufficiently creepy, joan fontaine nervous, and laurence olivier unreadable.

  div.movie
    p.title In a Lonely Place
    p.sub 1950, Nicholar Ray
    img(data-src='#{path}/in_a_lonely_place.png')
    p.date 3 June 2020
    p.description oooh a tragedy of character<br><br>here's a nice scene featuring musician Hadda Brooks: <a href='https://youtu.be/6RO6kRPAFt0' target='_blank'>https://youtu.be/6RO6kRPAFt0</a>

  div.movie
    p.title The Philadelphia Story
    p.sub 1940, George Cukor
    img(data-src='#{path}/the_philadelphia_story.png')
    p.date 27 May 2020
    p.description excellent, got a bunch of chuckles. katharine hepburn! and they all lived happily ever after

  div.movie
    p.title Burning
    p.sub 2018, Lee Chang-dong
    img(data-src='#{path}/burning.png')
    p.date 24 May 2020
    p.description at this point analyzed near to death by me and A, and still i havent figured it all out - which i think may speak to the flaws in all the material : faulkner, murakami, lee. but this story was still interesting, riveting, and this movie was beautifully shot. I loved seeing the light change in the scene outside Jong su's house. Steven yeun was perhaps too creepy / obviously an unfeeling psychopath.

  div.movie
    p.title The Big Sleep
    p.sub 1946, Howard Hawks
    img(data-src='#{path}/the_big_sleep.png')
    p.date 19 May 2020
    p.description tbh did not really follow the plot, but Lauren! Bacall!'s outfits! and magical voice!

  div.movie
    p.title The Third Man
    p.sub 1949, Carol Reed
    img(data-src='#{path}/the_third_man.png')
    p.date 18 May 2020
    p.description was okay, the tone was off (score too bright for a noir). the best part by far was the tunnel chase at the end: interesting echo-y soundscape and amazing high-contrast lighting

  div.movie
    p.title Mildred Pierce
    p.sub 1945, Michael Curtiz
    img(data-src='#{path}/mildred_pierce2.png')
    p.date 1 May 2020
    p.description This story has so many layers of complexity that I'm too lazy to parse out, but most of the complexity derives wholely from the Mildred/Veda dynamic, and could be outlined as: the toxic mother-daughter relationship between Mildred and Veda; the impossible push/pull between needing to be upscale mother (i.e. not working, being high-society, being wealthy) and working hard to sustain such a lifestyle; the tragedy that the parent's sacrifice pushes the child away (ultimately to win the child, the parent must give up everything they've worked to create); possibilities of analyzing Mildred as the "father" of the house--missing life while working and trying to buy children's love--and this, perhaps, as the root (according to the film) of Mildred's struggles: attempting to be both mother and father; and, the obvious parasitic nature of money and "lifestyle". The last lines spoke by Mildred, "Darling, I'm sorry. I did the best I could" cap off the film so well. Mildred somehow still loves her rotten daughter--which is sadly (or heroically) how it goes with parents. Also, this is my first Joan Crawford experience!

  div.movie
    p.title Singin' in the Rain
    p.sub Stanley Donnen, Gene Kelly, 1952
    img(data-src='#{path}/singin_in_the_rain.png')
    p.date 29 April 2020
    p.description This film was genuinely hilarious with A++++ smiles and some truly beloved crazy cats and amazing nigh-psychadelic dance montages that I wished would never end<br><br>also the first time Jean Hagen (who plays Lina Lamont) speaks has got to be the funniest moment in cinematic history

  div.movie
    p.title Gaslight
    p.sub George Cukor, 1944
    img(data-src='#{path}/gaslight.png')
    p.date 28 April 2020
    p.description hands down the most frightening, uncomfortable movie i've ever seen


  div.movie
    p.title Rope
    p.sub Alfred Hitchcock, 1948
    img(data-src='#{path}/rope.png')
    p.date 27 April 2020
    p.description second Hitchcock film in a week in which a doe-eyed Farley Granger has gotten somehow involved with a murder-happy psychopath. I appreciated the weird camera "transitions" (I put this in quotes because these didn't always change scenes) in this one in which we zoom into someone's back. I also noticed how the film was like an Aristotelian play: unity of time, place, and action. The plot is clearly someone's sadistic nightmare of a dinner party...

  div.movie
    p.title Strangers on a Train
    p.sub Alfred Hitchcock, 1951
    img(data-src='#{path}/strangers_on_a_train.png')
    p.date 24 April 2020
    p.description loved the tennis match as an element of suspense. Camera mvmts during this scene were great, and got increasingly erratic which really drove the movie toward its climax at the crazy carousel scene: a mirroring of the first scene of the film with the fast moving train, but like a twisted psychotic version, with the spinning.
    //- p.description rly thrilling
    //- patricia highsmith novel! and Farley Granger is a true beau
    //- tennis match as an element of suspense...nice. Camera mvmts during this scene were great, got increasingly erratic
    //- crazy carousel as climax confrontation scene was great aand clever ttouch as well. Invoked the beginning scene with fast moving train, but like a twisted psychotic version, with the spinning.

  

  div.movie
    p.title Gone with the Wind
    p.sub Victor Fleming, 1939
    img(data-src='#{path}/gone_with_the_wind.png')
    p.date 22 April 2020
    p.description.
      After all, tomorrow is another day!!!!
      <br><br>
      Reactions:
      <br>
      - I can't believe this was in made in color??
      <br>
      - Clark Gable is not handsome at all, and all of his character's love scenes made me uncomfortable, they were so aggressive and almost all non-consensual. Leslie Howard as Ashley Wilkes though was alright--overall, a darling.
      <br>
      - I appreciate the outright selfishness of Scarlett O'Hara (Vivien Leigh), and how slight her character growth was LOL
      <br>
      - Melly Hamilton (Olivia de Havlland) was definitely the best
      <br>
      - This is the 1940's interpretation of the 1860's, what does this even mean for me watching in 2020? It's impossible to say.
      <br> 
      - Icky racial politics in this one, but has come some ways from <i>The Birth of a Nation</i>
      <br>
      - Too long, clearly, but still entertaining. I was engaged the whole time, and by the time it was over it felt definitely deserving of the term "epic"

  div.movie
    p.title It's a Wonderful Life
    p.sub Frank Capra, 1946
    img(data-src='#{path}/its_a_wonderful_life.png')
    p.date 17 April 2020


  div.movie
    p.title Cleo from 5 to 7
    p.sub <i>Cléo de 5 à 7</i>
    p.sub Agnès Varda, 1962
    img(data-src='#{path}/cleo1.png')
    p.date 12 April 2020
    p.description I love the walking, car, and bus scenes in this film. They take their time. As the audience we get to see how the figures in and around Cléo's life seem increasingly to turn on her, what it's like to be a woman, to be a celebrity, to beautiful, to be looked at, to be ignored; we also get Cléo's voice and we get to walk with her--see her day darken and brighten and so forth; meet some old friends, some new ones. It's a special experience. Loved Michel Legrand's cameo character.

  div.movie
    p.title Casablanca
    p.sub Michael Curtiz, 1942
    img(data-src='#{path}/casablanca.png')
    p.date 10 April 2020
    p.description Ingrid Bergman! It's refreshing to see an old film with a main woman character who's not flat, shrilly, and melodramatic; Bergman was nuanced, multi-faceted, elusive, intense. I was impressed by this film...I liked that the romantic element of the plot was focused on a love affair that was entirely in the past--and so it looked backward, involved lingering emotions, and the aftermath of something that already happened. Humphrey Bogart's character was unpredictable, and Paul Henreid was charming as Victor Laszlo. Bergman is the real show-stealer though...I see the magic in her; will watch more of her films. 

  div.movie
    p.title Sunset Boulevard
    p.sub Billy Wilder, 1950
    img(data-src='#{path}/sunset_blvd.png')
    p.date 9 April 2020
    //- p.description another film to convince me that hollywood is frightening


   div.movie
    p.title My Life as a Zucchini
    p.sub Claude Barras, 2017
    img(data-src='#{path}/my_life_as_a_zucchini.png')
    p.date 8 April 2020
    p.description Wow, this was so nuanced..filled with the innocent darkness and sadness of children who've gone through trauma, and ultimately about love and the meaning of home, family. The animation was really cute and strange.<br><br>Also, this is the second French movie I've seen that has used <a target='_blank' href='https://www.youtube.com/watch?v=Agk1byIie70'>Sophie Hunger's "Le vent nous portera"</a> as end credits...it's so good! (The other movie was <i>Cafe de Flore</i> (2011).) Sophie Hunger also wrote the rest of the music for this movie -- which did an excellent job creating rich emotional tones.


   div.movie
    p.title Lovely & Amazing
    p.sub Nicole Holofcener, 2001
    img(data-src='#{path}/lovely_and_amazing4.png')
    p.date 7 April 2020
    p.description pretty funny<br>...and a surprise bb jakey g!

  div.movie
    p.title The Talented Mr. Ripley
    p.sub 1999, dir. Anthony Minghella, based on Patricia Highsmith's 1955 novel
    img(data-src='#{path}/the_talented_mr_ripley.png')
    p.date 30 March 2020
    p.description so many young beauties, very thrilling and psychotically alluring. somehow matt damon succeeded in being eery and strange by being  smiley and baby-faced
    //- if you enjoyed both <i>Call Me By Your Name</i> and <i>You</i>...this will take you for a crazy late 90s ride

  div.movie
    p.title The Master
    p.sub Paul Thomas Anderson, 2012
    img(data-src='#{path}/the_master.png')
    p.date 29 March 2020
    p.description Joaquin Phoenix was such a golden boy in this.

  div.movie
    p.title Parasite
    p.sub Bong Joon Ho, 2019
    img(data-src='#{path}/parasite.jpg') 
    p.date 2 March 2020
    p.description Ohhhhhhhh my goshhhhhhhhhhhhhhhhh this is a must watch, this movie was so deserving of every reward. It speaks of life like <i>Shoplifters</i> but with of course added twisted layers like <i>The Handmaiden</i> and some class-based thrill/horror like <i>Get Out</i>. Plus it's absolutely hilarious!

  div.movie
    p.title Uncut Gems
    p.sub Benny Safdie, Josh Safdie, 2019
    img(data-src='#{path}/uncut_gems.jpg') 
    p.date 19 January 2020
    p.description A nonstop rollercoaster ride that made me think ... why am I on this rollercoaster

  div.movie
    p.title Lost Highway
    p.sub David Lynch, 1997
    img(data-src='#{path}/lost_highway.png') 
    p.date 8 February 2020
    p.description I watched this so that I could read David Foster Wallace's essay on Lynch, "David Lynch Keeps His Head," where DFW does a good job analyzing just why exactly Lynch makes you feel the way you do after watching any of his movies, which is, to be preciese: irrationally frightened out of your mind. <i>Lost Highway</i> was no exception to the Lynch directorial phenomenon for me. It was fascinating and alluring, but I don't think I can take another Lynch movie for a few months.

  div.movie
    p.title Enemy
    p.sub Denis Villeneuve, 2013
    img(data-src='#{path}/enemy.jpg') 
    p.date 4 January 2020
    p.description Just...unexpected. A lot of Jakey G content lately.

  div.movie
    p.title The King's Speech
    p.sub Tom Hooper, 2010
    img(data-src='#{path}/the_kings_speech.png') 
    p.date 1 January 2020
      
  +menu(2020)
      
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
