include ./../layout

link(rel='stylesheet', href='/stylesheets/watch_longform_style.css')

block content
  div.longform

    - var path = '../images/watch'
    h2
     i persona longform
    
    p.
      I watched <i>Persona</i> yesterday and I felt like I couldn't just walk away from this film. It felt very important, like it merited a closer look. I also was so affected by it (it was so, so good) but in an odd, unsettling way that called my attention.
    
    img(data-src='#{path}/persona-min.jpg') 
  
    
    p.
      It had me thinking a lot about what happens when two people spend so much time with each other, and listen / are listened to, when they've been deprived of that intensity of attention elsewhere in their life. Their personalities start to meld, but the way I see it is that it's not a bad thing (?) 
    p
      strong To know someone intimately might be to become them...
      
    p.
      Alma and Elisabet were becoming each other, and it was scary but also intimate (???)
    
    img(data-src='#{path}/persona2-min.jpg')
    
    p.
      I really appreciated the effort put into achieving the tone of the film. The tone was an undulating hyper-awareness of the subconscious / psyche. Lots of interesting and weird film techniques were used, such as quick flashes of alarming images, primer shots of unrelated scenes/objects to emotionally setup the viewer for what was to come, lots of direct frontal shots / looking directly into the camera, tight framing of the two actresses, repeated scenes from different angles, and lingering camera shots of essentially still scenes.
      
      
      
    img(data-src='#{path}/persona4-min.jpg') 
    
    p.
      The film was also super existential and dare I say feminist (and queer)???? I need to think about that more. I misled myself because I used to think Ingmar Bergman was a woman, and I always forget that indeed he is not a woman but a man, but that defnitely affected the way I watched the film during it. Regardless, the film addressed questions of the meaninglessness of life, particularly for women who have to be constantly acting, and endure the pressures of motherhood, and especially the guilt put on by society and our subconscious, and our longing for an all-powerful/other-worldly savior, and the anxiety of being alive that makes us like children, and the masks we put on, and our fear that we can't love enough -- so much guilt and turmoil and anxiety!!! 
    p
      strong. 
        Being a woman and being human is so complex -- it's an agonizing but endlessly intriguing experience.
        
    img(data-src='#{path}/persona5-min.jpg')  
      
    p.
      Our solitude is so profound and painful and meaningless, but also can be beautiful. The solitude of two people living intimately is interesting. Perhaps their solitude and turmoil becomes one, and are absorbed by and merged with each other. The relationship between Alma and Elisabet is just so interesting and mysterious. Their psyches and emotions were progressively more and more connected and intertwined as the film moved forward. I feel like there is a lot of truth in their story, and the surrealist portrayal of the film was so fitting from the existentialist point of view. I think the film could also have easily taken on a non-existentialist tone if the music was replaced with something less foreboding / anxiety-inducing; then, it might have actually felt warm (?!)
      
    img(data-src='#{path}/persona7-min.jpg')
    
    p. 
      I really loved The Doctor's monologue in the film:
    p.
      "I understand, all right. The hopeless dream of being. Not seeming to be, but being. At every waking moment, alert. The gulf between what you are with others and what you are alone. The vertigo and the constant hunger to be exposed, to be seen through, perhaps even wiped out. Every inflection and every gesture a lie, every smile a grimace. Suicide? No, too vulgar. But you can refuse to move, refuse to talk, so that you don't have to lie. You can shut yourself in. Then you needn't play any parts or make wrong gestures. Or so you thought. But reality plays nasty tricks on you. Your hiding place isn't watertight. Life trickles in from the outside, and you're forced to react. No one asks whether it's genuine or not, whether you're lying or telling the truth. Questions like that matter only in the theatre, and hardly there either. I understand you, Elisabet. I understand why you don't speak, why you don't move, why you've created a part for yourself out of apathy. I understand and admire you. You should go on with this part until it is played out, until it loses interest for you. Then you can leave it, just as you've left your other parts one by one."
    
    img(data-src='#{path}/persona3-min.jpg')
    
    p.
      Looking back at screenshots I took while watching, this film was incredibly sensual. The sensuality was downplayed by the overall mysterious / curious / anxious tone -- specifically Alma's anxiety and Elisabet's mysteriousness. But the sensual parts, especially the famous mirror scenes, made it seem like Alma and Elisabet <i>knew</i> something more -- or at least their subconsciouses did. It felt like both conscious and subconscious were present throughout the film, and "reality" was hard to discern, but perhaps because <strong>the reality of our subconscious is <i>just as valid</i> (if not more interesting and compelling) than the reality of our consciousness.</strong>
      
    img(data-src='#{path}/persona6-min.jpg') 
    
    p.
      I can't quite get at what the direct staring into the camera at the viewer in this film was doing, but it definitely made me feel sort of scared (?), like my heart was beating with these two women, and maybe like I was becoming more and more entangled with them as well. Usually when there is prolonged direct gazing into the camera (borderline breaking the fourth wall) (which was actually broken at some point in the film, I think) it sort of disassociates me from what's going on in the film, but in this case, it just augmented my engagement with the film's world, and it brought me inside of it. I could feel what Alma and Elisabet were feeling (btw Bibi Andersson and Liv Ullmann are both amazingly good face actresses!!!)
      


     
    img(data-src='#{path}/persona8-min.jpg') 
    
    p.
      Ah wow, this film was so good, I can't get over it. Bibi Andersson and Liv Ullmann were both amazing, and the whole film was freaky and psychological and had a lot of subconscious stuff and intimacy and wow. This is definitely a film I would rewatch!!!! The world created inside of the film was so intriguing. It had a quiet, thoughtful feel that reminded me a bit of <i>Solaris</i>, yet it also managed to be more intimate and soft. The cinematography was beautiful and startling. <i>Persona</i> is an eyes wide open kinda film.  
      
    br
    br
    br
    
    p
      i Thursday, July 26, 2018.
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
