include ./../layout

link(rel='stylesheet', href='/stylesheets/watch_longform_style.css')

block content
  div.longform

    - var path = '../images/watch'
    h2
     i twin peaks long

    img(data-src='#{path}/twin_peaks_title.jpg')
    img(data-src='#{path}/twin_peaks_0.jpg')
    img(data-src='#{path}/twin_peaks_1.jpg')
    img(data-src='#{path}/twin_peaks_2.jpg')
    img(data-src='#{path}/twin_peaks_3.jpg')
    img(data-src='#{path}/twin_peaks_20.jpg')
    //- img(data-src='#{path}/twin_peaks_4.jpg')
    img(data-src='#{path}/twin_peaks_5.jpg')
    img(data-src='#{path}/twin_peaks_6.jpg')
    img(data-src='#{path}/twin_peaks_17.jpg')
    img(data-src='#{path}/twin_peaks_7.jpg')
    img(data-src='#{path}/twin_peaks_8.jpg')
    img(data-src='#{path}/twin_peaks_9.jpg')
    img(data-src='#{path}/twin_peaks_10.jpg')
    img(data-src='#{path}/twin_peaks_11.jpg')
    img(data-src='#{path}/twin_peaks_19.jpg')
    img(data-src='#{path}/twin_peaks_12.jpg')
    img(data-src='#{path}/twin_peaks_13.jpg')
    img(data-src='#{path}/twin_peaks_14.jpg')
    img(data-src='#{path}/twin_peaks_15.jpg')
    img(data-src='#{path}/twin_peaks_18.jpg')
    img(data-src='#{path}/twin_peaks_16.jpg')
    

    
    
  
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
