include ./../layout
include watch_imgs

link(rel='stylesheet', href='/stylesheets/watch_longform_style.css')

block content
  div.longform

    h2
     i twin peaks long

    img(data-src='#{twin_peaks_title}')
    img(data-src='#{twin_peaks_0}')
    img(data-src='#{twin_peaks_1}')
    img(data-src='#{twin_peaks_2}')
    img(data-src='#{twin_peaks_3}')
    img(data-src='#{twin_peaks_20}')
    //- img(data-src='#{path}/twin_peaks_4.jpg')
    img(data-src='#{twin_peaks_5}')
    img(data-src='#{twin_peaks_6}')
    img(data-src='#{twin_peaks_17}')
    img(data-src='#{twin_peaks_7}')
    img(data-src='#{twin_peaks_8}')
    img(data-src='#{twin_peaks_9}')
    img(data-src='#{twin_peaks_10}')
    img(data-src='#{twin_peaks_11}')
    img(data-src='#{twin_peaks_19}')
    img(data-src='#{twin_peaks_12}')
    img(data-src='#{twin_peaks_13}')
    img(data-src='#{twin_peaks_14}')
    img(data-src='#{twin_peaks_15}')
    img(data-src='#{twin_peaks_18}')
    img(data-src='#{twin_peaks_16}')
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
