include ./../layout

link(rel='stylesheet', href='/stylesheets/watch_style.css')

block content
  h1
    i watch
    
  br
  br
  
  - var path = 'images/watch'
  
  div.movie
    p.title Adaptation.
    p.sub 2002, Spike Jonze, Charlie Kaufman
    img(data-src='#{path}/adaptation.jpg') 
    p.date 5 September 2018
    p.description I finally have a decent projector / couch / wall / laptop / projector stand setup, so I've been watching more movies using my projector! It's really fun and nice, I look forward a lot now to free nights. My projector isn't great, and doesn't do justice to movies that rely on image quality, so I think I may consider an upgrade soon :- ]. <br><br> <i>Adaptation.</i> was good! 

  div.movie
    p.title Trainspotting
    p.sub 1996, Danny Boyle
    img(data-src='#{path}/trainspotting.jpg') 
    p.date 3 September 2018
    p.description Ewan McGregor <3, Johnny Lee Miller ! 

  div.movie
    p.title TRON
    p.sub 1982, Steven Lisberger
    img(data-src='#{path}/tron.jpg') 
    p.date 29 August 2018 


  div.movie
    p.title Disobedience
    p.sub 2017, Sebastian Lelio
    img(data-src='#{path}/disobedience.jpg') 
    p.date 28 August 2018
    p.description. 
      Ooh wow. This made me think about lives I've never lived / other potential routes for my life. I liked how intimately the story was portrayed.

  div.movie
    p.title Anomalisa
    p.sub 2015, Charlie Kaufman / Duke Johnson
    img(data-src='#{path}/anomalisa.png') 
    p.date 26 August 2018
    //- p.description. 

  div.movie
    p.title Blue Valentine
    p.sub 2010, Derek Cianfrance
    //- img(data-src='#{path}/cube-min.png') 
    p.date 24 August 2018
    p.description Aw ah. I loved Michelle William's performance in this! 

  div.movie
    p.title Crazy Rich Asians
    p.sub 2018, Jon M. Chu
    //- img(data-src='#{path}/cube-min.png') 
    p.date 24 August 2018
    p.description Matriarchs! Michelle Yeoh! Awkwafina! I watched this with my mom :+]. There is more to discuss.
  
  
  div.movie
    p.title Cube
    p.sub 1997, Vincenzo Natali
    img(data-src='#{path}/cube-min.png') 
    p.date 3 August 2018
    p.description. 
      This movie is frightening as hell, but amazingly creative. Don't even read anything about it, just watch it, if you're into that.
  
  div.movie
    p.title Synecdoche, New York
    p.sub 2008, Charlie Kaufman
    img(data-src='#{path}/synecdoche_new_york-min.png') 
    p.date 1 August 2018
    p.description.
      "You have struggled into existence, and are now slipping silently out of it. This is everyone's experience. Everyone."
      <br><br>
      Always crying, not knowing what to do, so confused, so so lonely, sadness, depression, disappointment, fear of death 
      <br><br>
      Life just happens, it flies by
      <br><br>
      This was the most nuanced (and somehow fresh? I mean it's weird, it's Charlie Kaufman) filmic representation of depression I've seen. I almost don't want to even use the word "depression" because that word is so misleading. Depression is so complex, so <i>essential</i> to the human experience, despite how ugly and pathetic and sad it can be. Hoffman really captured the feeling of being frustrated with life itself, that distinct feeling of time moving forward almost without you, leaving you behind -- lonely and exasperated. There was no romanticization of life's pathetic, and even humorous, realities. I was left with my heart hurting in the unmistakable way it does when it looks at parts of myself and my past with sad, empathetic pity.
      <br><br>
      Coincidentally, I also just read Franz Kafka's <i>The Trial</i> -- very fitting for this movie, which was pretty cynical and convoluted. I'm liking these accidental film / literatue pairings lately, it would be cool to explore.
      <br><br>
      This is a really beautiful song that was part of the score:
      <a href='https://www.youtube.com/watch?v=FXL8sbalC8I' target='_blank'>youtube.com/watch?v=FXL8sbalC8In</a>
      <br><br>
      And my heart still breaks for Philip Seymour Hoffman
  
  div.movie
    p.title Out of the Blue
    p.sub 1980, Dennis Hopper
    img(data-src='#{path}/out_of_the_blue-min.png') 
    p.date 30 July 2018
  
  div.movie
    p.title Doctor Who: Silence in the Library & Forest of the Dead
    p.sub
      strong Series 4, Episodes 8 & 9
      br
      span 2008, Steven Moffat / Euros Lyn
    img(data-src='#{path}/doctor_who-min.png') 
    p.date 29 July 2018
    p.description.
      I got back into <i>Doctor Who</i> this summer, and this pair of episodes was really amazing, probably my favorite since watching <i>The Empty Child</i> back with Nine. I enjoy David Tennant a lot! And I love the series since it has the creative freedom to explore basically any sci-fi / fantasy concept -- the world seems to have very few rules, and one can travel anywhere in space and time.
  
  div.movie
    p.title The Fountain
    p.sub 2006, Darren Aronofsky
    p.date 27 July 2018
    p.description.
      <i>The Fountain</i> was a complex, introspective drama / sci-fi about death and creation. 
      <br><br>
      I think I didn't like it as much as I could have because of the cultural insensitivity of Hugh Jackman being this sort of monk dude for no reason, and clearly doing a confusing mix of East Asian martial arts-influenced dance / meditation moves, and also how they portrayed the Mayans as utter savages with no humanity. It was sad that so many parts of the movie visually relied on blatant Western-centric stereotypes -- that just seems like lazy filmmaking to me.
      <br><br>
      It was especially frustrating because the idea of the movie was intriguing, with lots of potential. The story itself was profound, and the surreal way that the central theme of the movie -- coming to terms with death -- was portrayed was pretty epic.
  
  div.movie
    p.title Persona
    p.sub 1966, Ingmar Bergman
    img(data-src='#{path}/persona-min.png') 
    p.date 25 July 2018
    p.description 
      a(href='/watch/persona').quiet-link  <strong>x &rarr;</strong>
    
  div.movie
    p.title Being John Malkovich
    p.sub 1999, Spike Jonze / Charlie Kaufman
    img(data-src='#{path}/being_john_malkovich-min.png') 
    p.date 21 July 2018
    p.description.
      Wooooooowwwsswwwww what a great and strange and unexpectedly dark yet perfectly weird movie. Catherine Keener was iconic as Maxine. It was so (hilariously) weird that it stopped being weird and there were a lot of feelings underneath like longing, desire, jealousy, and greed, and the destructive tendencies of those emotions. Twisty turny excitey quirky darkish movie, just My type :--]
    //- <br><br>
    //- I also have Officially decided that Catherine Keener is my new favorite actress.
    
  div.movie
    p.title Dazed and Confused
    p.sub 1993, Richard Linklater
    img(data-src='#{path}/dazed_and_confused-min.png') 
    p.date 17 July 2018
    p.description lol


  div.movie
    p.title Citizen Kane
    p.sub 1941, Orson Welles
    img(data-src='#{path}/citizen_kane-min.png') 
    p.date 15 July 2018
    p.description deeeep focus
      
  div.movie
    p.title Velvet Goldmine
    p.sub 1998, Todd Haynes
    img(data-src='#{path}/velvet_goldmine-min.png') 
    p.date 12 July 2018
    p.description Wow there were so many great stills I could've chosen from this fabulous movie. It was really artfully done, and the storytelling was both bold and nuanced. I wasn't alive during the height of glam-rock and David Bowie, etc., but I can definitely see that period's lingering influence in today's music and culture. The movie captured really well the appeal that glam rock had to outcasts and "weirdos," and the sort of release and freedom the movement provided, while also highlighting a lot of the emptiness behind the glamour.<br><br> I really like what one <a href='https://film.avclub.com/velvet-goldmine-captures-the-spirit-if-not-the-biograp-1798243465'>article</a> says about the film: "Glitter-filled, chaotic, and often bizarre (one key emotional scene is acted out by two young girls playing with Barbie dolls, a nod to Haynes earlier <i>Superstar: The Karen Carpenter Story</i>), <i> Velvet Goldmine</i> nevertheless possesses a wonderfully observed humanity to go with its aggressive experimentalism." <br><br>Also, Ewan McGregor AND Christian Bale were both in this and amazing, and I didn't realize Todd Haynes also directed <i>Carol</i>, which is one my favorite movies. I hope to watch more of his movies!
    
  div.movie
    p.title Taxi Driver
    p.sub 1976, Martin Scorsese
    img(data-src='#{path}/taxi_driver-min.png') 
    p.date 29 June 2018
  
  div.movie
    p.title Incredibles 2
    p.sub 2018, Brad Bird 
    p.date 27 June 2018
    p.description watch it! I really liked the Pixar short, <i>Bao</i>, and the movie itself was very satisfying and funny :). <i>The Incredibles</i> was my favorite Pixar movie growing up because of the style and the characters and the music, and they did a good job on the sequel!! hehe 
  
  div.movie
    p.title Days of Being Wild
    p.sub 1990, Wong Kar-wai
    img(data-src='#{path}/days_of_being_wild-min.png')
    p.date 15 June 2018
      
      
  div.movie
    p.title The Big Lebowski
    p.sub 1998, Joel Coen & Ethan Coen
    img(data-src='#{path}/the_big_lebowski-min.png')
    p.date June 2018
    p.description Great movie
      
  
  div.movie
    p.title Black Panther
    p.sub 2018, Ryan Coogler
    img(data-src='#{path}/black_panther-min.png')
    p.date June 2018
      
      
  div.movie
    p.title 
      i Boyhood
    p.sub 2014, Richard Linklater
    p.date May 2018
    p.description I recommend!
      
      
  div.movie
    p.title 
      i Silence
    p.sub 2016, Martin Scorsese
    img(data-src='#{path}/silence-min.png')
    p.date May 2018
      
  div.movie
    p.title The Good Place <span style='font-style:normal'>(TV Series)</span>
    p.sub 
      | 2016- , Michael Shur
    img(data-src='#{path}/the_good_place-min.png')
    p.date May 2018
    p.description
      | I just want to say: I recently watched Seasons 1 and 2 and this show is hilarious, and also thought-provoking. It manages to be original and balanced -- not too light or heavy, and very fun. It also has a pretty diverse cast and upholds diverse narratives, so +1! I recommend!! 
      
  
  div.movie
    p.title Changeling
    p.sub 
      | 2008, Clint Eastwood
    img(data-src='#{path}/changeling-min.png')
    p.date 25 May 2018
    p.description
      | I watched this at the same time that I was reading <i>The Bell Jar</i> -- very fitting
      
      
  div.movie
    p.title Thelma & Louise
    p.sub 
      | 1991, Ridley Scott
    img(data-src='#{path}/thelma_and_louise-min.png')
    p.date 17 May 2018
    p.description
      | I finally watched it!!! Wow, what an iconic movie!! Amazing. I love Susan Sarandon. This movie was incredibly satisfying
  
  div.movie
    p.title Ikiru
    p.sub 
      | 1952, Akira Kurosawa
    img(data-src='#{path}/ikiru-min.png')
    p.date 14 May 2018
    

  
  div.movie
    p.title Dunkirk
    p.sub 2017, Christopher Nolan
    img(data-src='#{path}/dunkirk-min.png')
    p.date 12 May 2018
    //- p.description
     
    
    
  div.movie
    p.title The Shape of Water
    p.sub 2017, Guillermo del Toro
    img(data-src='#{path}/the_shape_of_water-min.png')
    p.date 11 May 2018
    p.description
      | Visually a very green, hazy, beautiful movie. Also a beautiful story, but I'm not sure that I liked seeing it live action haha (as opposed to animated). But repressed sexuality was definitely a theme in the story so maybe it had to be live action. The music and score were also really nice. I <i>loved</i> the poem at the end:
      <br><br>
      | "But when I think of her, the only thing that comes to mind is a poem, whispered by someone in love hundreds of years ago:
      <br>
      <i>
      | Unable to perceive the shape of you, I find you all around me. Your presence fills my eyes with love. It humbles my heart, for you are everywhere."
      </i>
      <br><br>
      | Apparently the poem was originally a love letter to God, in some section of Islamic poetry that Guillermo del Toro stumbled upon!
  
  div.movie
    p.title Blade Runner 2049
    p.sub 2017, Denis Villeneuve
    img(data-src='#{path}/blade_runner_2049-min.png')
    p.date 4 May 2018
    p.description.
      Wow, very intriguing story, and raises many questions about humanity and life. Beautiful cinematography - this film definitely maintained the slow, cinematic, philosophical tone of the original <i> Blade Runner</i>, though keeping a lot of the original's problematic depiction of an Asian / "exotic" future where only white people live in.
    
  div.movie
    p.title I, Tonya
    p.sub 2017, Craig Gillespie
    img(data-src='#{path}/tonya-min.png')
    p.date 3 May 2018
    p.description
      | This film broke my heart as much as it touched it. Tonya Harding's story is tragic because so many of the decisive events of her life were not done by her own decision, and she has been forced to give up the possibility of ever being fully understood. Time and time again she has attempted to tell her own story, but the cruelty of the media and the public's thirst for drama has robbed her of that. Everything has been taken from her. Yet from what I know of her story, it is also beautiful because of how she keeps fighting to find love and happiness on her own terms. To this day she is a woman of raw drive, talent, emotion, and power -- in a world that tells her from every angle that she shouldn't be. From what I know, she has prevailed. Justice doesn't always work the way we think it does.
    
  div.movie
    p.title Pinocchio
    p.sub 1940, Walt Disney 
    img(data-src='#{path}/pinocchio-min.png')
    p.date April 2018
    p.description
      | <i>"Little puppet made of pine, wake, the gift of life is thine"</i> - The Blue Fairy
      <br><br>
      | I rewatched this recently because I was reading Jonah and was reminded of the whale scene in <i>Pinocchio</i>, and wow it is such a good moral tale!! I have so many thoughts.
      <br><br>
      | <strong>Lessons from Pinocchio</strong> <br>
      | The first thing I noticed is that our conscience is represented by a literal tiny, unreliable, selfish / egoistic CRICKET who is easily fooled and tempted itself (Jiminy Cricket). Even worse is that in the crucial moment when Jiminy Cricket is giving sound advice to Pinocchio, Pinocchio doesn't even listen. (In the crucial moment, we don't even listen to our conscience.)<br><br>
      | Pinocchio starts off as extremely naive and ungrounded, much like us when we are first born. He is freed from the imprisonment of being a puppet because of the love of his creator (Geppetto), yet the irony of the plot is that because of temptation, Pinocchio ends up exactly in the condition he was freed from (in a puppet show, controlled and imprisoned by a greedy puppet master), maybe even much worse. He doesn't understand his freedom, which is heartbreaking yet rings so true for our life, and it's why I chose the still from the movie above. <br><br>
      | As the plot progresses, Pinocchio's mistakes become less and less innocent, and the bad people he encounters become more and more evil. What I got from that is that the deeper and more prolonged we give into temptation, the stronger and more malevolent it gets, and the more it controls us / the less free will we actually have. When Pinocchio gets physically imprisoned (put into a bird cage) by the puppet master, Jiminy Cricket nearly abandons him, discouraged and unlistened to. Even our conscience fails us and leaves us alone if we go deep enough into the darkness. <br><br>
      | Every time Pinocchio finds himself in a sticky situation, divine intervention is needed to save him (The Blue Fairy). The Lock is too strong for us to break out of it alone - it feels hopeless - and it encourages self-condemnation because of the failure of both the conscience (Jiminy) and the self (Pino), who fell into temptation. But eventually the Blue Fairy comes and breaks the Lock!!! (but not without lessons and consequences!) <br><br>
      | I've read takes on this story that relate it to the immorality of the working class in an increasingly industrial, capitalist society. Some of the moral imperatives of the story are to work, "be good," and go to school. I think this story is also about temptation and the failure of human morality. Humans do not seem to have an intrinsic or reliable moral compass, and we may sometimes do good but it's only after doing a lot of bad. The story is sympathetic to this human condition though, because Pinocchio is literally just a boy puppet, who doesn't know anything, just like we sometimes feel so lost and unsure how to do good, yet want to do and be good. The generosity of the Blue Fairy and her reward for love, selflessness, and sacrifice (of both Geppetto and Pinocchio) ultimately make this a hopeful tale of redemption and forgiveness from a higher power.  :) 
      
  div.movie
    p.title Hasan Minhaj: Homecoming King
    p.sub 2017
    img(data-src='#{path}/homecoming_king-min.jpg')
    p.date March 2018
    p.description
      | standup!! asian-american stories!! I cried (and laughed) with A and J
  

  div.movie
    p.title Your Name
    p.sub Makoto Shinkai, 2016
    img(data-src='#{path}/your_name-min.png')
    p.description
      | Really beautiful realist animation and interesting story concept. I especially loved the way natural and artificial light was rendered ! The skies were all really beautiful, and even light from phones and technology was given a lot of attention, which made it feel very contemporary and real.
      
  div.movie
    p.title La belle saison
    p.sub Catherine Corsini, 2015
    img(data-src='#{path}/la_belle_saison-min.png')
    p.date March 2018
    p.description
      | I could relate sometimes too much to this movie. I was really excited but as the plot progressed i just started to feel shameful (of myself) and anxious for the characters. It was fun to see paris during second (?) wave feminism though! 

  div.movie
    p.title Atonement
    p.sub 2007
    img(data-src='#{path}/atonement-min.png')
    p.date March 2018
    p.description
      | really loved this still of the movie. I have a crush on keira and saoirse is so talented. some type of camera or filter was used so that everything white seemed to be glowing, and everything was dreamy

  div.movie
    p.title The Shining
    p.sub Stanley Kubrick, 1980
    iframe(height="315", width="560",src="https://www.youtube.com/embed/HEew7zvpAWE?rel=0&amp;controls=0&amp;showinfo=0",frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
    p.date March 2018
    p.description
      | Wow this lived up to my expectations. I watched it with my dad over break. Stanley Kubrick is amazing. Afterwards, I went into a wikipedia dive and read about a lot of Stephen King's stories. Apparently, the idea for <i>The Shining</i> came from King's fear of hurting his family, and the eeriness of a huge, empty hotel he once stayed in much like the one in the movie. Really great and terrifying movie. I didn't take any pictures while watching but I linked the trailer, which is one of my all time favorites. As my dad said during this scene, "Remember: no CGI"
    
  div.movie
    p.title Mudbound
    p.sub Dee Rees, 2017
    img(data-src='#{path}/mudbound-min.png')
    p.date March 2018
    p.description
      | watched this on oscars night. love dee rees
    

  div.movie
    p.title Akira
    p.sub Katsuhiro Otomo, 1988
    img(data-src='#{path}/akira-min.png')
    p.date March 2018
    p.description
      | really amazing!!! recommend 

  div.movie    
    p.title Call Me By Your Name
    p.sub Luca Guadagnino, 2017
    img(data-src='#{path}/call_me_by_your_name-min.png')
    p.description
      | good for your eyes and ears ! first love ! 
      
  div.movie    
    p.title Dead Poet's Society
    p.sub 1989
    img(data-src='#{path}/dead_poets_society-min.png')
    p.description
      | made me sad about robin williams and kind of anxious about needing to contribute my 'verse' to the 'great play'
      
  div.movie    
    p.title Fallen Angels
    p.sub  Wong Kar-wai, 1985
    img(data-src='#{path}/fallen_angels-min.png')
    p.description
      | longing, longing, longing for love. loved this movie emotionally, visually, everything
      
      
  div.movie
    p.title 2046
    p.sub Wong Kar-wai, 2004
    img(data-src='#{path}/2046-min.png')
    p.date October 2017
    p.description
      | Watched this on Friday with AF. It hit us (<i>destroyed</i> us) both toward the end — what a beautiful, complex, and emotional film. It’s about love, timing, the parts of ourselves we give to others (in exchange for what?), and carrying pain with us while trying to leave a pained section of life (but being unable to let go). <i>2046</i> is a slow burner, with a few different story arcs that don’t start to seem that connected until we get some explanation from the sci-fi arc (which I LOVED and was very unsettling).
      br
      br
      | The significance of the number 2046 in this movie is also super interesting — it is the hotel number of the main character's true love, it is the distant future that the fictional sci-fi protagonist is stuck in, it is missed timing and lost love, and it is also perhaps just a number. As time passes, so does love.
      br
      br
      | Delayed reaction time is also an important theme — expressed quite literally through the robots’ delayed processing time. Time is just so important in this film, it makes me think about how it plays a role in my life. Time hurts, helps, heals. Time is mysterious, and as the film points out, we may not always know the reasons behind waiting, and delayed answers / answers that never come.
      br
      br
      | Ultimately, pain, love, and time are all interconnected. Each narrative arc is quite beautiful and painful. As always, the actors and actresses are amazing, my favorite here is Gong Li!! (pictured above)
      br
      br
      | Worth noting also that this film is a “loose sequel” to <i>In the Mood for Love</i> (2000) and <i>Days of Being Wild</i> (1990), which were both directed by Wong Kar-Wai. I think the movie is good as standalone, but I watched <i>In the Mood for Love</i> some time beforehand and it did make <i>2046</i> a bit less confusing.
      
      
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
    script.
      new LazyLoad();
