include ./../layout
include watch_menu

link(rel='stylesheet', href='/stylesheets/watch_style.css')

block content
  h1
    i watch
    
  +menu(2021)

  br
  
  - var path = '../images/watch'

  div.movie
    p.title Sound of Metal
    p.sub 2020, Darius Marder
    img(data-src='#{path}/sound_of_metal_2.png') 
    p.date 23 Apr 2021
    p.description ugh, my personal favorite of the oscar nominees <br><br>a story about abilities and humanhood; of the central thing of life. It really shows how committed to telling this story the writers, director, and actors were - for it's so powerfully, effectively told, so nuanced  and specific and special. Riz Ahmed blew me away -- the way his character reacted and how it changed over the course of the movie and how he grew into accepting the silence, and moving forward with life though it has been so difficult and so devestating. The portrayal of the deaf community was so amazing as well, and Paul Raci's performance was great. What a precious, compassionate film.<br><br>I think my personal connection to this had to do with the specificity of Ahmed's and Cooke's characters--their being a former addict and former cutter, respectively--and the intensity by which they stayed alive and safe with/for each other, the role that music and being on the road played, and how scary it is for the thin thread by which you're hanging onto life to be threatened. Like, more than a film just about losing a physical ability, this was a film about what it could mean to be saved (does a person save you? a community? a god? yourself?), and how to survive the loss of one's anchor in life (and how to find enough peace to search for a new anchor).

  div.movie
    p.title Baby Face
    p.sub 1933
    img(data-src='#{path}/baby_face_3.png') 
    p.date 2 Mar 2021
    p.description barbara stanwyck's character remains mysterious, invulnerable and in control until the end ... the whole thing is strangely empowering - how she blazes through men, knocks them over with barely a struggle. overall an immensely satisfying story.

  
  div.movie
    p.title Top Hat
    p.sub 1935
    img(data-src='#{path}/top_hat.png') 
    p.date 18 Feb 2021
    p.description :") <br><br>(note from the future: this first astaire/rogers dance musical remains my favorite after having seen a few more. will update once i've seen all of them, because they are all so wonderful. dance is the best expression of human joy!)

  
  div.movie
    p.title Anna Christie
    p.sub 1930, Clarence Brown
    img(data-src='#{path}/anna_christie_3.png') 
    p.date 8 Feb 2021
    p.description *~* the garbo *~*


  div.movie
    p.title Stage Door
    p.sub 1937, Gregory La Cava
    img(data-src='#{path}/stage_door_2.png') 
    p.date 5 Feb 2021
    p.description :) a gem with ginger rogers, katharine hepburn, and so many other wonderful funny women (and the first pre-50s film I've watched that passes the bechdel test with flying colors!). I really loved Ginger Rogers' spunky, sarcastic, loyal character. The clever banter between Rogers' and Hepburn's characters had me laughing throughout.


  div.movie
    p.title Bringing Up Baby
    p.sub 1939, Howard Hawks
    img(data-src='#{path}/bringing_up_baby.png') 
    p.date 2 Mar 2021
    p.description.
      you know these crazy cats kate and cary i think are becoming my favorite duo. this is a hilarious screwball! really funny and absurd
      <br>both are sillier and more feminine in this, which just adds to the humor and the ridiculous lovability of their eccentric characters. the comedy in this was amazing!!
      <br>"all that happened, happened because I was trying to keep you near me and I just did anything that came into my head"

  div.movie
    p.title Sylvia Scarlett
    p.sub 1935, George Cukor
    img(data-src='#{path}/sylvia_scarlett.png') 
    p.date 29 Jan 2021
    p.description.
      omg this was a wild ride. katharine hepburn is a wonderful boy. interesting queer overtones, and now that i've watched a significant number of wwii-era and post-war films, I'm more attuned to the difference in pre-war films: looser, less structured, playful, more promiscuous. I wonder if this film was unsuccessful at the time because hepburn was too good at her part, truly androgynous 
      <br><br>wikipedia says it best:<br>
        "The film is mostly known for its queer elements, with Hepburn's character continuing to do drag even after it is not necessary anymore for the character, which "confused and disconcerted in equal measures." It is considered that the sexual ambiguities and gender misunderstandings of the films were too daring for the time period, which made the audiences fail to see the humor in cross-dressing and mistaken identity. It also resulted in movie audiences walking away from the movie, especially since it was insinuated or shown that both male and female characters were attracted to Hepburn's character, in and out of drag. While in drag, Sylvia is kissed by a woman and Monkley comments that he'd made "a proper hot water bottle" when they are changing to go to sleep. At the same time, Fane shows more interest in Sylvia while in drag, and losing it after she revealed she is a woman.
        <br><br>
        Some have argued that "Gender as a separate concept from sexuality or physical sex wouldn’t come about for another twenty years, so audiences had no context for Sylvia’s odd apparel" through the movie. Nevertheless, the film is considered one of the few of the Golden Age of Hollywood to represent queerness respectfully. It is now seen as "a monument to the sapphic impression Hepburn left in Hollywood", with the film implying "that Sylvia might stay as Sylvester forever", even as she enters a relationship with a man. Some, on the other hand, have considered that "these deliciously cheeky invitations are met with sexual panic and a predictable retreat into befrocked femininity"."
        <br><br>
        In conclusion though, this movie was fun, interesting, even edgy, and has been one of the most memorable (and probably one of the favorite) films I've watched pre-1950s. 

  div.movie
    p.title High Fidelity
    p.sub  2000, Stephen Frears
    img(data-src='#{path}/high_fidelity_3.png') 
    p.date 22 Jan 2021
    p.description john cusack very good dfw-esque music chump kind of dreamy but selfish and deluded..... jack black a surprising blast... fun to be in a record store in the 90s/00s, weird juggling of records, tapes, cds

  div.movie
    p.title Before Sunrise
    p.sub Richard Linklater, 1995
    img(data-src='#{path}/before_sunrise.png') 
    p.date 20 Jan 2021
    p.description ah wow. so beautiful, ethan hawke and julie delpy were so young and squishy and endearing, and I could feel the excited awkwardness of their first meeting and conversation, and then how things relaxed as they got to know each other in deeper and more nuanced ways, even each others physical presences. The film is essentially one long conversation, and it captures that wonderfully intimate and special space created between two people who are in a joint journey of knowing each other, and relishing being absorbed in life and in the other person. It also captures the liminal space of travel, where one is free from the confines of regular life, and the way the foreign and the new seem fuzzy and warm rather than cold and scary when in the safety of being with someone. From my own experience in travel, I've come to the conculsion that travelling with another person is a remarkably swift way to get to know them. To wander around, to ask questions, to be vulnerable, to act relexively, to get into shenanigans, to rest together, to eat together, to navigate together: this is the exceptional privilege of being in a new place with a new person. I think the experience in this film speaks to that, and showcases so beautifully the space created at the conjunction of three beings: jesse, celine, and vienna. what a special film, one long, full, rich moment. 

  div.movie
    p.title Twin Peaks
    p.sub David Lynch & Mark Frost, 1990-1991
    img(data-src='#{path}/twin_peaks_6.png') 
    p.date Nov 2020 - Jan 2021
    p.description I should really say something about finally finishing twin peaks! I loved this show, it was wildly compelling I think solely because of the interesting and beautiful and strange characters, and kyle maclachlan's charm that grows on you. lynch's unpredictability gave the plot a nice mystery/horror edge; his pull toward the surreal and uncanny I think added depth instead of being downright frightening (like in his films), and at the core this was the drama of the heart of a small pacific northwest town and its weird happenings. the music was phenomenal: cool jazz and lush dream pop.
      //- todo: minify
      <br><br>It's hard to capture such a visually strong show in just one screenshot, so here's my expanded Twin Peaks photo gallery:
      a(href='/watch/twinpeaks').quiet-link <strong>x &rarr;</strong>
      

 
  +menu(2021)
      
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
