include ./../layout

link(rel='stylesheet', href='/stylesheets/art_style.css')

block content
  div.back
    a(href='/art') &larr;
  
  center
    h1
      i portfolio
    //- p.sub.
      finished, <i>abandoned</i>, longer, what have you
      
    br
    
    div.time-jump 
      span time travel &#10513;
      a(href='#2018') 2018
      span &bull;
      a(href='#2016') 2016
      span &bull;
      a(href='#2015') 2015
      
      
    br
    
    a(name='2018')
    h2.year 2018
    - var path = '/images/art/finished/2018'

    div.art 
      img(data-src='#{path}/2018_10_22.jpg')
      p.sub october 2018

    div.art 
      img(data-src='#{path}/long_2018_10_08.jpg')
      p.sub my first longer figure painting in oils <br> october 08 2018
    
    div.art 
      img(data-src='#{path}/short_2018_09_24.jpg')
      p.sub finished this one up... study of white cloth (I will go back and take better pictures of these later)<br> september 24 2018
      
    br
    br
    
    a(name='2016')
    h2.year 2016
    - var path = '/images/art/finished/2016'
    div.art
      img(data-src='#{path}/2016-11-09.jpg')
      p.sub November 9th, 2016 -- do you remember that day? <br> acrylic on paper
    div.art
      img(data-src='#{path}/2016-06.jpg')
      p.sub golden summer in philly <br> acrylic on canvas
    div.art
      img(data-src='#{path}/2016-04 1.jpg')
      p.sub i took a wonderful figure drawing class my freshman spring
    div.art
      img(data-src='#{path}/2016-04 2.jpg')
    div.art
      img(data-src='#{path}/2016-04 3.jpg')
    div.art
      img(data-src='#{path}/2016-02.png')
      p.sub my dear keurig 3d modeled in autodesk maya :') and made out of the homesickness of my heart
    div.art
      img(data-src='#{path}/2016-05.jpg')
      p.sub 3d model of the Fragonard room at the Frick Collection in New York! that room was my favorite because of the huge paintings and many shiny, intricate objects. I gotta say though, it was a pain to model

    a(name='2015')
    h2.year 2015
    - var path = '/images/art/finished/2013-15'

    div.art
      img(data-src='#{path}/2015.03 self.jpg')
      p.sub self portrait (acrylic)<br> march 2015 
    
    div.art
      img(data-src='#{path}/2015.03 ma.jpg')
      p.sub mother (acrylic)<br> march 2015 

    div.art
      img(data-src='#{path}/2015.05 woolf.jpg')
      p.sub virginia woolf (acrylic)<br> may 2015

    div.art
      img(data-src='#{path}/2015-06 self portrait after school.jpg')
      p.sub self portrait after school (oil) <br> june 2015

      
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
