include ./../layout
include art_imgs

link(rel='stylesheet', href='/stylesheets/art_style.css')

block content
  div.back
    a(href='/art') &larr;
    
  center
    h1
      i photos
    //- p.sub.photo Equipment: For digital, I have a Panasonic Lumix GX85 mirrorless camera with 12-32mm and 45-150mm lenses. For film, I have an Argus C3 35mm with a 50mm lens.

    br
    
    div.time-jump 
      span time travel &#10513;

      a(href='#2020') 2020
      span &bull;
      a(href='#2019') 2019

    br
    .photojournal.sub <center>Equipment Note:</center>For digital, I have a Panasonic Lumix GX85 mirrorless camera with 12-32mm and 45-150mm lenses. For film, I have an Argus C3 (35mm film format) with a 50mm lens. Unless specified all photos are taken by the GX85.


    br
    a(name='2020')
    h2.year 2020

    div.art.photojournal
      img(data-src='#{p_2020_05_dk}')
      p.sub Poughkeepsie, New York<br>2020/05<br>[film]
      
    br
    a(name='2019')
    h2.year 2019

    div.art.photojournal
      img(data-src='#{p_2019_12_tel_aviv}')
      p.sub Tel Aviv, Israel<br>2019/12


    div.art.photojournal
      img(data-src='#{p_2019_10_portland}')
      p.sub Portland, Oregon<br>2019/10/23


    div.art.photojournal
      img(data-src='#{p_2019_10_innisfree}')
      p.sub Innisfree Garden, Millbrook, New York<br>2019/10/06

    div.art.photojournal
      img(data-src='#{p_2019_10_hokkaido}')
      p.sub Abashiri, Hokkaidō, Japan<br>2019/07/11

          
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
