include ./../layout

link(rel='stylesheet', href='/stylesheets/art_style.css')

block content
  div.back
    a(href='/art') &larr;
    
  center
    h1
      i sketches & blog
    p.sub.
      experimentations, thoughts, mess-ups, progress shots, unfinished stuff, etc. !

    br
    
    div.time-jump 
      span time travel &#10513;
      a(href='#2018') 2018
      span &bull;
      a(href='#2017') 2017
      span &bull;
      a(href='#2016') 2016
      span &bull;
      a(href='#2015') 2015-2013

      
    br
    
    a(name='2018')
    h2.year 2018
    - var path = '/images/art/fun/2018'

    div.art
      img(data-src='#{path}/2018_11_11_acrylic_sketch.jpg')
      p.sub sketch in acrylics - november 11 2018. inspired after visiting <a href='http://www.susan-moore.com/' target='_blank'>susan moore</a>'s studio with my class

    div.art 
      img(data-src='#{path}/2018_11_05.jpg')
      p.sub Progress - november 05 2018<br>Painting has been a little painful lately, but I am learning how to be less precious about it all. I had to do a presentation on <a href='https://www.newyorker.com/culture/culture-desk/the-inclusive-humanity-of-alice-neels-paintings' target='_blank'>Alice Neel</a>, and learning about her has inspired me to want to do more portraits as a way of getting to know people.

    div.art
      img(data-src='#{path}/2018_self_rembrandt.png')
      p.sub We are starting on self-portraits in figure painting class - I really love Rembrandt's "Self Portrait with Disheveled Hair" (left) so I'm basing mine off of it. This is my progress (right) after ~20 minutes. We'll see where this goes!<br><br> october 30 2018

    div.art
      img(data-src='#{path}/redcloth_progress_2018_10.jpg')
      p.sub here are some funky progress shots of my red cloth painting, done over the course of three-ish sessions!<br> october 08 2018

    div.art 
      p.sub <strong> Wednesday, September 19</strong><br>I'm finding figure painting to be joyfully complex. It's much more different than figure drawing than I expected. What I enjoyed about figure drawing was the beauty of the form, the shapes that make up the human body, the gesture of the line. Figure painting is more primarily about color, and where there is color, there is complexity. Value, temperature, texture, opacity, gesture, contrast...so many things to keep in mind! But it makes the process exhilerating, meditative, frustrating. I'm still getting used to oil paint, and what an amazing medium it is - so full of versatility and richness. I'm trying to be less precious about my paintings. I love drawing so much because of its straightforward rendering of <i>form</i>, but I need to give that up in order to learn how to use color rather than line to create form.

    div.art
      img(data-src='#{path}/short_2018_09_19.jpg')
      p.sub one session oil <br>september 19 2018
    div.art
      img(data-src='#{path}/short_2018_09_17.jpg')
      p.sub one session oil - venetian palette (venetian red, yellow ochre, white, black) <br> september 17 2018
    div.art
      img(data-src='#{path}/short_2018_09_12.jpg')
      p.sub one session oil<br>september 12 2018
     div.art
      img(data-src='#{path}/short_2018_09_10.jpg')
      p.sub one session oil<br>september 10 2018

    div.art
      img(data-src='#{path}/2018-06-17.jpg')
      p.sub hello from san josé
    div.art
      img(data-src='#{path}/2018-06-16.jpg')
      p.sub the sun was so bright that after staring at the white paper of my sketchbook while drawing this i almost couldn't see anything when i looked up

    
    div.art
      img(data-src='#{path}/2018-05-20.jpg')
      p.sub watercolor
    div.art
      img(data-src='#{path}/2018-05-13.jpg')
      p.sub watercolor
      
    div.art
      img(data-src='#{path}/2018-03-25.jpg')
      

    br
    br
    
    
    a(name='2017')
    h2.year 2017
    - var path = '/images/art/fun/2017'
    div.art
      img(data-src='#{path}/2017-09-20.jpg')
    div.art
      img(data-src='#{path}/2017-07-11.jpg')
      p.sub july, san francisco
    div.art
      img(data-src='#{path}/2017-05-21.jpg')
    div.art
      img(data-src='#{path}/2017-04-30.jpg')
      p.sub april
    div.art
      img(data-src='#{path}/2017-03-12.jpg')
    div.art
      img(data-src='#{path}/2017-02-23.png')
      p.sub playing around with some glitch algorithms and a shiny 3d model of venus de milo. i really liked this composition :)
    div.art
      img(data-src='#{path}/2017-02-08.jpg')
      p.sub BEEAAACH HOOOUUUSEEE!!!!
    div.art
      img(data-src='#{path}/2017-01-10.jpg')
      
      
    br  
    br
    
    
    a(name='2016')
    h2.year 2016
    - var path = '/images/art/fun/2016'
    div.art
      img(data-src='#{path}/2016-08.png')
      p.sub I went to São Paulo in the summer and I took a picture of every single cafezinho I had and then I made this :-)
    div.art
      img(data-src='#{path}/2016-05-annie-mesh.jpg')
    div.art
      img(data-src='#{path}/2016-04.jpg')
      
    p.sub there is a lot more 2016 stuff but I haven't had the chance yet to take pictures of my old sketchbooks :]
    
    
    br
    br
    
    a(name='2015')
    h2.year 2013-2015
    - var path = '/images/art/fun/2013-15'
    div.art
      img(data-src='#{path}/2015-10-sleeping-boi.jpg')
    div.art
      img(data-src='#{path}/2015-07-paris-table.jpg')
    div.art
      img(data-src='#{path}/2015-07-orsay.jpg')
    div.art
      img(data-src='#{path}/2015-07-orsay-2.jpg')
    div.art
      img(data-src='#{path}/2015-07-louvre.jpg')
      p.sub I saw her in person !
    
    
          
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
