include layout
include readwell_imgs

link(rel='stylesheet', href='/stylesheets/readwell_style.css')

block content
  h1
    i readwell
  
  //- div Welcome to my personal goodreads :^)

  
  br
  br
  //- hr
  .sub READING
  br

  ul
    //- li Money, Posessions, and Eternity - Randy Alcorn 
    //- 4 June 2020

    li For the Time Being - Annie Dillard (1999)
    li The Collected Stories of Lydia Davis - Lydia Davis (2009)
    li A Little Life - Hanya Yanagihara (2016)

    
  //- .book
  //-   .img-wrapper
  //-     img(src=)
  //-   .book-info
  //-     .title 
  //-     .author 
  //-     .publish-info 
  //-     .read-date 
  //-   .review 

      
  //- .book
  //-   .img-wrapper
  //-     img(src=for_the_time_being)
  //-   .book-info
  //-     .title For the Time Being
  //-     .author Annie Dillard
  //-     .publish-info 
  //-     .read-date 1 June - ? 2020
  //-   .review 



  //- .book
  //-   .img-wrapper
  //-     img(src=davis_collected_stories)
  //-   .book-info
  //-     .title The Collected Stories of Lydia Davis
  //-     .author Lydia Davis
  //-     .publish-info 2009
  //-     .read-date Mar - ? 2020
  //-   //- .review  cannot express just how much these stories are my type of stories. odd, full of sadness approached inquisitively; characters with purposefully little self-consciousness; or too much self-consciousness. The little, quiet anxieties, oddities of life. strange inner lives. and that's just the beginning.


  //- .book
  //-   .img-wrapper
  //-     img(src=a_little_life)
  //-   .book-info
  //-     .title A Little Life
  //-     .author Hanya Yanagihara
  //-     .publish-info 2016
  //-     .read-date Mar - ? 2020
  //-     //- .end-date -
  //-   .review slam my heart into the ground


  br
  br
  br
  //- hr
  .sub READ
  br
  br
  br

  .book
    .img-wrapper
      img(src=understanding_power)
    .book-info
      .title Understanding Power: The Indispensable Chomsky
      .author Noam Chomsky
      .publish-info 2002
      .read-date 20 Oct 2019 - 10 Jun 2020
    .review my man

  .book
    .img-wrapper
      img(src=walden)
    .book-info
      .title Walden and Resistance to Civil Government
      .author Henry David Thoreau
      .publish-info 1849
      .read-date Mar - 31 May 2020
    //- .review 


  .book
    .img-wrapper
      img(src=a_writers_diary)
    .book-info
      .title A Writer's Diary
      .author Virginia Woolf
      .publish-info 1953
      .read-date 20 Feb - 25 May 2020
    .review lots of thoughts, emotions, reactions...will type them up here soon
    //- .review Here Are My Thoughts!!!! I love V. Woolf heheh ehu huahu ehu huweah kaufjansdf,jsadnf,asdnf ,asn,.fsg,sagn.s,akn... tho i cant bear to finish this :(

  .book
    .img-wrapper
      img(src=ariel)
    .book-info
      .title Ariel
      .author Sylvia Plath
      .publish-info 1966
      .read-date Mar - 23 May 2020
    .review These are not the sorts of poems you copy onto a card and send to your friends; these you read alone, bitterly, in agony: as solace when life becomes sore.


  .book
    .img-wrapper
      img(src=consider_the_lobster)
    .book-info
      .title Consider the Lobster and Other Essays
      .author David Foster Wallace
      .publish-info 2005
      .read-date 20 Apr - 10 May 2020
    .review DFW could write about literally anything and I would read it.

  .book
    .img-wrapper
      img(src=welcome_to_the_monkey_house)
    .book-info
      .title Welcome to the Monkey House
      .author Kurt Vonnegut
      .publish-info 1968
      .read-date 15 Mar - 11 Apr 2020
      //- .start-date 15 Mar 2020
      //- .end-date 11 Apr 2020
    .review Exploratory, mysterious, always hopeful in the end

  .book
    .img-wrapper
    //- img
    .book-info
      .title Death of a Salesman
      .author Arthur Miller
      .publish-info 1949
      .read-date Mar 2020
    //- .review 

  .book
    .img-wrapper
      img(src=why_we_sleep)
    .book-info
      .title Why We Sleep
      .author Matthew Walker
      .publish-info 2017
      .read-date 23 Jun 2018 - 11 Apr 2020
    .review. 
      This book made me become pretty neurotic about getting enough sleep...ultimately a beneficial neurosis, I think. I would recommend everyone to read at least the first section. The studies described are all pretty astounding. Perhaps it’s too good a conclusion to be true, but it seems like sleep is that missing lurking variable behind most, if not all, areas of health science.
      <br><br>
      When I told my chronically sleep-deprived parents about the contents of this book they reacted as if I’d joined some doomsday cult. I say: if it’s possible for you right now, just try it for yourself: prioritizing 8 hours of good sleep is a small price to pay for well-being, creativity, intelligence, memory, and longevity.  

  .book
    .img-wrapper
    //- img
    .book-info
      .title Hedda Gabler
      .author Henrik Ibsen
      .publish-info 1890
      .read-date Mar 2020
    //- .review 

  .book
    .img-wrapper
      img(src=trick_mirror)
    .book-info
      .title Trick Mirror
      .author Jia Tolentino
      .publish-info 2019
      .read-date 19 Feb - 9 Mar 2020
    //- .review

  .book
    .img-wrapper
      img(src=sense_and_sensibility)
    .book-info
      .title Sense and Sensibility
      .author Jane Austen
      .publish-info 1811
      .read-date 17 Jan - Mar 8 2020
    //- .review

  .book
    .img-wrapper
      img(src=a_supposedly_fun_thing)
    .book-info
      .title A Supposedly Fun Thing I'll Never Do Again
      .author David Foster Wallace
      .publish-info 1998
      .read-date 14 Jan - 17 Feb 2020
    .review Incredible: stimulating and entertaining; engrossingly but not excruciatingly detailed. DFW is the champion of the Adjective.

  .book
    .img-wrapper
      img(src=men_explain_things_to_me)
    .book-info
      .title Men Explain Things to Me
      .author Rebecca Solnit
      .publish-info 2014
      .read-date 19 - 20 Jan 2020
    //- .review 

  .book
    .img-wrapper
      img(src=the_clean_house)
    .book-info
      .title The Clean House and Other Plays
      .author Sarah Ruhl
      .publish-info 2006
      .read-date 8 - 16 Jan 2020
    .review Sarah Ruhl rules.

  .book
    .img-wrapper
      img(src=cant_and_wont)
    .book-info
      .title Can't and Won't
      .author Lydia Davis
      .publish-info 2014
      .read-date 3 - 16 Jan 2020
    .review I love Lydia Davis!!

  .book
    .img-wrapper
      img(src=little_fires_everywhere)
    .book-info
      .title Little Fires Everywhere
      .author Celeste Ng
      .publish-info 2018
      .read-date 5 - 7 Jan 2020
    .review Sweeping.

  .book
    .img-wrapper
      img(src=their_eyes_were_watching_god)
    .book-info
      .title Their Eyes Were Watching God
      .author Zora Neale Hurston
      .publish-info 1937
      .read-date 29 Dec 2019 - 3 Jan 2020
    //- .review 

  .book
    .img-wrapper
      img(src=tidying_up)
    .book-info
      .title The Life-Changing Magic of Tidying Up
      .author Marie Kondō
      .publish-info 2014
      .read-date 15 Aug 2019 - 1 Jan 2020
    .review Worth a read. Marie Kondo did change my life in several ways.

  br
  br
  .sub 2019
  br
  br
  br

  .book
    .img-wrapper
      img(src=we_learn_nothing)
    .book-info
      .title We Learn Nothing
      .author Tim Kreider
      .publish-info 2013
      .read-date 25 - 31 Dec 2019
    //- .review 

  .book
    .img-wrapper
      img(src=the_plague)
    .book-info
      .title The Plague
      .author Albert Camus
      .publish-info 1947
      .read-date 6 - 24 Dec 2019
    //- .review 

  .book
    .img-wrapper
      img(src=ruhl_essays)
    .book-info
      .title 100 Essays I Don't Have Time to Write
      .author Sarah Ruhl
      .publish-info 2012
      .read-date 18 Nov - 23 Dec 2019
    .review Ahhhh very wonderful. I read a few of these every morning for the past few weeks, and it’s been such a pleasure. Each mini-essay is thought-provoking, personal, and features Sarah Ruhl’s amazing sense of humor. 

  .book
    .img-wrapper
      img(src=wuthering_heights)
    .book-info
      .title Wuthering Heights
      .author Emily Brontë
      .publish-info 1847
      .read-date 22 Nov - 1 Dec 2019
    //- .review 

    
  .book
    .img-wrapper
      img(src=when_breath_becomes_air)
    .book-info
      .title When Breath Becomes Air
      .author Paul Kalanithi
      .publish-info 2016
      .read-date 25 - 26 Nov 2019
    .review Ahhhhhhhhhhhhhhhhhhhhhhhh the glimmer of this precious soul in this precious book

  .book
    .img-wrapper
      img(src=the_death_of_ivan_ilyich)
    .book-info
      .title The Death of Ivan Ilyich
      .author Leo Tolstoy
      .publish-info 1886
      .read-date 6 - 18 Nov 2019
    //- .review 


  .book
    .img-wrapper
      img(src=mrs_dalloway)
    .book-info
      .title Mrs. Dalloway
      .author Virginia Woolf
      .publish-info 1925
      .read-date 28 Oct - 5 Nov 2019
    .review. 
      	Virginia Woolf puts me into such a state of overexcitement and frenzy, Mrs. Dalloway is an entire world and all of existence in one bursting day. I read some of the best sentences in the English language here!!
        <br><br>
        “Only for a moment; but it was enough. It was a sudden revelation, a tinge like a blush which one tried to check and then, as it spread, one yielded to its expansion, and rushed to the farthest verge and there quivered and felt the world come closer, swollen with some astonishing significance, some pressure of rapture, which split its thin skin and gushed and poured with an extraordinary alleviation over the cracks and sores! Then, for a moment, she had seen an illumination; a match burning in a crocus; an inner meaning almost expressed. But the close withdrew; the hard softened. It was over—the moment.”
        <br><br>
        Here is a novel to get lost inside of sentences, wandering the streets of London and the minds and pasts of its people. Woolf writes to fully convey a MOMENT—how large that moment can be, how full of meaning and sensation !! I wandered through this book, grasped at the beginnings and ends of thoughts, held on to feelings even as they disappeared, and felt the glowing, sensitive magnificence of the mystery of being.

  .book
    .img-wrapper
      img(src=howl)
    .book-info
      .title Howl and Other Poems
      .author Allen Ginsberg
      .publish-info 1956
      .read-date 25 - 26 Oct 2019
    //- .review 
  

  .book
    .img-wrapper
      img(src=the_living_mountain)
    .book-info
      .title The Living Mountain
      .author Nan Shepherd
      .publish-info 1977
      .read-date 25 Oct 2019
    .review. 
      Incredibly Scottish, I had to look up every 7th word, but wonderful. Perfect accompaniment for an intimate excursion up whichever great mountain looms over you.
      <br><br>
      “So, simply to look on anything, such as a mountain, with the love that penetrates to its essence, is to widen the domain of being in the vastness of non-being. Man has no other reason for his existence.”
  
  .book
    .img-wrapper
      img(src=on_the_road)
    .book-info
      .title On the Road: The Original Scroll
      .author Jack Kerouac
      .publish-info 1957
      .read-date 17 - 24 Oct 2019
    .review.
      Yes, yes, yes! I dig it, these magnificent, magnificent visions of the road, this sprawling scroll of ever onwards and the ever illuminating vastness of wide open land.
      <br><br>
      This urgently told, go go go recounting of endless happenings on the road back and forth, up and down the U.S. has infected me with my own inner go, go, go—a thirst for experiencing life, finding what’s exciting about it, traveling across the country, and writing about it all with the splendid candor of Jack Kerouac’s prose, and talking about it in the decisive, enchanting, and insane manner of Neal Cassady.
  
  
  .book
    .img-wrapper
      img(src=the_weight_of_glory)
    .book-info
      .title The Weight of Glory
      .author C.S. Lewis
      .publish-info 1949 
      .read-date 18 - 23 Oct 2019
    //- .review 
  
  
  .book
    .img-wrapper
      img(src=my_brilliant_friend)
    .book-info
      .title My Brilliant Friend
      .author Elena Ferrante
      .publish-info 2011
      .read-date 20 Sep - 16 Oct 2019
    .review. 
      	I was so immediately immersed into this novel; Ferrante puts into words those dazzling emotions of friendship that I've also felt in my life--so mesmerizing, so captivating are those friendships, and here is one of the greatest friendships between women in all of the literature I've read.
        <br><br>
        Most of all, <i>My Brilliant Friend</i> is about the desperation, complexity, and attachment of intimate friendship. The strings that bind Lila and Lenù together are earth-shattering, bigger than any of the romantic love in the novel, inexplicable. The story of the beginning years of this epic friendship speaks to the power we hold over each other and the endless mysteries of relationships--as if they are a puzzle we long to resolve, to find security in, but that continue to confound, disappoint, and fascinate us.
        <br><br>
        I read this novel hungrily, all throughout thinking: this is the love of friends--lifelong, strange, full of tension and power dynamics; they're made of a fabric of unconditional protection, long-held hurt, comparison and inadequacy, moments of sheer joy, excitement, ecstasy, painful hyperawareness of the other, the secret pleasures of exclusivity, of going into the world together, alone except for each other. I found solace in Lenu's inner world, in her insecurities, her fragile heart, her confusion, and her submission to the inescapable, unfailing grasp that Lila seemed to have on her life.
        <br><br>
        I love what John Freeman wrote of the Neapolitan series: "Imagine if Jane Austen got angry and you'll have some idea how explosive these works are."
        <br><br>
        I so loved this novel and I'll be sure to read the next three!
  
  
  .book
    .img-wrapper
      img(src=the_brothers_karamazov)
    .book-info
      .title The Brothers Karamazov
      .author Fyodor Dostoyevsky
      .publish-info 1879
      .read-date 2 Jul - 12 Oct 2019
    .review Oh my, there is so, so much to say, and I can’t say it all now. This was magnificent, brilliant, philosophical, intricate, dense. “Dostoyevsky paints like Rembrandt” (Andre Gide). I’ll miss reading about dear Alyosha, Dmitri, and Ivan every night. Dostoevsky’s fiction is unrivaled...his characters are rendered with unbelievable depth, and the sheer breadth of characters is breathtaking. He understands the rich, the poor, the wretched, and the righteous. All is deeply philosophical, and the experience of reading this spun me into a loop several times thinking and rethinking religion, morality, honor, and despair.
  
  
  .book
    .img-wrapper
      img(src=on_the_shortness_of_life)
    .book-info
      .title On the Shortness of Life
      .author Seneca
      .publish-info 49 AD
      .read-date 8 - 10 Oct 2019
    .review. 
      This was fascinating to wrestle with! I don’t agree with some of it, but I think there’s always a time in our lives when we need to hear some good Stoic advice. It’s shocking that Seneca lived 2000 years ago, yet so many of the traps we fall into as humans seeking purpose and joy are the same, and he addresses them thoroughly and methodically.
      <br><br>
      “Of all people only those are at leisure who make time for philosophy, only those are really alive. For they not only keep a good watch over their own lifetimes, but they annex every age to theirs. All the years that have been passed before them are added to their own.”<br>
      From the first essay/letter, “On the Shortness of Life”
      <br><br>
      Seneca really emphasizes stewardship of our time, and at first I resisted understanding this because I value generosity—i.e., giving my time and energies freely to a wide range of people and activities. Though Stoicism doesn’t naturally align with this sort of idealistically overflowing heart, I still think there’s a lot of wisdom for me to gain in how I give my time and energy, as they can be given foolishly.
    
  .book
    .img-wrapper
      img(src=just_mercy)
    .book-info
      .title Just Mercy
      .author Bryan Stevenson
      .publish-info 2014
      .read-date 8 Mar - 8 Oct 2019
    .review. 
      “The power of just mercy is that it belongs to the undeserving. It’s when mercy is least expected that it’s most potent—strong enough to break the cycle of victimization and victimhood, retribution and suffering.”
      <br><br>
      The last few chapters of this book have made me think a lot about the suffering I’ve caused others in the name of “justice,” how harsh and unrelenting I’ve been, how inhumane. Stevenson also wrote:
      <br>
      “Fear and anger are a threat to justice; they can infect a community, a state, or a nation and make us blind, irrational, and dangerous.”
      <br><br>
      I realized that when Stevenson talks about “just mercy” he is addressing both the victims and the victimizers (for many of us have been both). He appreciates victims of injustice who forgive those who enacted the injustice on them, and he calls on the public and the state to have mercy on those who commit crimes—to understand the context they come from. We, as both people who have been hurt and people who hurt others, can show compassion and mercy to those who hurt us instead of acting out of self-righteous, fear-induced anger. Not only would this mercy be good, but it would more importantly be just.
      <br><br>
      “The death penalty is not about whether people deserve to die for the crimes they commit. The real question of capital punishment in this country is, Do we deserve to kill?”
      <br><br>
      There is so, so much to learn from this book. I haven’t even picked out the most important parts of this book for the review (such as the history of capital punishment, the cruel treatment of children in the criminal justice system, and the system of mass incarceration in the US); these thoughts are just what linger on with me as I finish the book. I highly recommend picking this one up! Stevenson writes with such honest clarity; his recollection of these important cases is both focused and passionate. I really appreciate this book for teaching me and moving my heart and mind. 
  
  
  .book
    .img-wrapper
      img(src=brave_new_world)
    .book-info
      .title Brave New World
      .author Aldous Huxley
      .publish-info 1932
      .read-date 23 - 26 Sep 2019
    //- .review 

    
  .book
    .img-wrapper
      img(src=the_abundance)
    .book-info
      .title The Abundance
      .author Annie Dillard
      .publish-info 2016
      .read-date 18 - 22 Sep 2019
    .review Funny, observant, and poetic
  

    
  .book
    .img-wrapper
      img(src=alices_adventures_in_wonderland)
    .book-info
      .title Alice's Adventures in Wonderland & Through the Looking-Glass
      .author Lewis Carroll
      .publish-info 1871
      .read-date 15 - 18 Sep 2019
    //- .review 
  

    
  //- .book
  //-   .img-wrapper
  //-     img(src=)
  //-   .book-info
  //-     .title 
  //-     .author 
  //-     .publish-info 
  //-     .read-date 
  //-   .review 
  

    
  //- .book
  //-   .img-wrapper
  //-     img(src=)
  //-   .book-info
  //-     .title 
  //-     .author 
  //-     .publish-info 
  //-     .read-date 
  //-   .review 
  

    
  //- .book
  //-   .img-wrapper
  //-     img(src=)
  //-   .book-info
  //-     .title 
  //-     .author 
  //-     .publish-info 
  //-     .read-date 
  //-   .review 
  

    
  //- .book
  //-   .img-wrapper
  //-     img(src=)
  //-   .book-info
  //-     .title 
  //-     .author 
  //-     .publish-info 
  //-     .read-date 
  //-   .review 
  
  