include layout

link(rel='stylesheet', href='/stylesheets/read_style.css')

block content
  h1
    i read!
    
  br
  br
  
  - var path = 'images/read'
  - var started = '&#9728; Started' // sun
  - var finished = '&#9790; Finished' // moon
  - var update = '&#9729; Update' // cloud

  div.book
    p.update !{finished}: June 2019
    span.title
      i The Abolition of Man
      |  by C.S. Lewis
    //- span.sub
    //- p.date 16 June 2019


  div.book
    p.update !{finished}
    span.title
      i The Leavers
      |  by Lisa Ko
    //- span.sub
    p.date 15 June 2019

  div.book
    p.update !{finished}
    span.title
      i Sour Heart
      |  by Jenny Zhang
    //- span.sub
    p.date 8 June 2019

  div.book
    p.update !{finished}
    span.title
      i On Doing Nothing: Finding Inspiration in Idleness
      |  by Roman Muradov
    //- span.sub
    p.date 28 May 2019

  div.book
    p.update !{finished}
    span.title
      i Anthem
      |  by Ayn Rand
    //- span.sub
    p.date 25 May 2019

  div.book
    p.update !{finished}
    span.title
      i A Tale for the Time Being
      |  by Ruth Ozeki
    //- span.sub
    p.date 4 January 2019

  div.book
    p.update !{finished}
    span.title
      i Sophie's World
      |  by Jostein Gaarder
    //- span.sub
    p.date 26 January 2019

  div.book
    p.update !{finished}
    span.title
      i A Room of One's Own
      |  by Virginia Woolf
    //- span.sub
    p.date 6 January 2019

  div.book
    p.update !{finished}
    span.title
      i Letters to a Young Poet
      |  by Rainer Maria Rilke
    //- span.sub
    p.date 29 December 2018

  div.book
    p.update !{finished}
    span.title
      i Do Not Say We Have Nothing
      |  by Madeleine Thien
    //- span.sub
    p.date 26 December 2018

  div.book
    p.update !{finished}
    span.title
      i Love
      |  by Toni Morrison
    //- span.sub
    p.date 20 December 2018

  
  div.book
    p.update !{started}
    span.title
      i Songmaster 
      | by Orson Scott Card 
    span.sub (1980)
    img(data-src='#{path}/songmaster-min.jpg') 
    p.date 3 August 2018
    p.description.
      Ooh wow, this is really beautiful so far. I haven't read sci-fi in a while. I got this for like a dollar at the book sale outside of King Library and I'm glad I did!!
      
      
  div.book
    p.update !{finished}
    span.title
      i The Trial 
      | by Franz Kafka
    span.sub (1925)
    img(data-src='#{path}/the_trial_cover-min.jpg') 
    p.date 30 July 2018
    
  div.book
    p.update !{update}
    span.title Reeeading 
      i The Trial
    br
    img(data-src='#{path}/the_trial-min.jpg')
    p.date July 2018
    p.description It's escalating!!
    
  div.book
    p.update !{finished}
    span.title
      i One Hundred Years of Solitude 
      | by Gabriel García Márquez
    span.sub (1967)
    img(data-src='#{path}/one_hundred_cover-min.jpg') 
    p.date 21 July 2018
    p.description woweeeee. long book. good book.
    
  div.book
    p.update !{started}
    span.title
      i Why We Sleep: Unlocking the Power of Sleep and Dreams 
      | by Matthew P. Walker
    span.sub (2017)
    p.date 14 July 2018
    p.description Bought this after reading a really interesting article about by this author. Very interesting, somewhat scary stuff.
    
  div.book
    p.update !{finished}
    span.title
      i The Stranger 
      | by Albert Camus
    span.sub (1942)
    p.date 28 May 2018
    p.description.
      So, my story with this one...
      <br><br>
      When I was in high school, I would go to Barnes & Nobles a lot. Usually I would spend around half an hour there. I used to flip through books, and browse, etc. One time I went and I was captivated by the cover of a version of <i>The Stranger</i> that was black and white and hypnotizing. I started to read that every time I went to Barnes & Nobles, but I would keep forgetting where I left off and ended up re-reading the beginning a lot. I never got very far, but I always wanted to finish the novel. Years later now, I've finally read the book! It only took two days, and while I'm glad I finally read it, it was a pretty bare, anxiety-filled book.
  div.book
    p.update !{finished}
    span.title
      i The Bell Jar 
      | by Sylvia Plath
    span.sub (1963)
    br
    img(data-src='#{path}/the_bell_jar-min.jpg') 
    p.date 26 May 2018
    p.description From this book, Doctor Nolan emerged as a new favorite fictional character. Felt a lot of empathy for the protagonist, Esther.
    
  div.book
    p.update !{finished}
    span.title 
      i The Waves 
      | by Virginia Woolf
    span.sub (1931)
    img(data-src='#{path}/the_waves_2-min.jpg') 
    p.date 14 May 2018
    p.description Oh my, what a breathtaking, inspirational book. My love for Virginia Woolf grows.
    
  div.book
    p.update !{update}
    span.title 
      i The Waves 
      | by Virginia Woolf
    img(data-src='#{path}/the_waves-min.jpg')
    p.date May 2018
    p.description reading at home :-)
    
  div.book
    p.update !{finished}
    span.title 
      i Tuesdays with Morrie 
      | by Mitch Albom
    span.sub (1997)
    img(data-src='#{path}/morrie_nch-min.jpg')
    p.date May 2018
    p.description ^^ the location I often read this lovely little book!! can you find it?
    
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
    script.
      new LazyLoad();
