include layout
include readwell_imgs

link(rel='stylesheet', href='/stylesheets/readwell_style.css')

block content
  h1
    i readwell
  
  //- div Welcome to my personal goodreads :^)

  
  br
  br
  //- hr
  .sub READING
  br

  ul

    li The Rest is Noise - Alex Ross (2007)

    //- li The Logic of Scientific Discovery - Karl Popper
    //- 16 may 2021

    li Infinite Jest - David Foster Wallace (1996)
    //- 7 mar 2021

    li Leaves of Grass - Walt Whitman (1855, 1892)
    //- 3 dec 2020

    //- li Chess move by move
    //- 16 Nov 2020

    //- li Introduction to Cosmology - Barbara Ryder
    //- 14? nov 2020

    li Collected Poems - Edna St. Vincent Millay
    //- Mar? 2020 

    //- li Money, Posessions, and Eternity - Randy Alcorn 
    //- 4 Jun 2020

    li The Collected Stories of Lydia Davis - Lydia Davis (2009)
    
  //- .book
  //-   .img-wrapper
  //-     img(src=)
  //-   .book-info
  //-     .title 
  //-     .author 
  //-     .publish-info 
  //-     .read-date 
  //-   .review 

  //- .book
  //-   .img-wrapper
  //-     img(src=davis_collected_stories)
  //-   .book-info
  //-     .title The Collected Stories of Lydia Davis
  //-     .author Lydia Davis
  //-     .publish-info 2009
  //-     .read-date Mar - ? 2020
  //-   //- .review  cannot express just how much these stories are my type of stories. odd, full of sadness approached inquisitively; characters with purposefully little self-consciousness; or too much self-consciousness. The little, quiet anxieties, oddities of life. strange inner lives. and that's just the beginning.


  br
  br
  br
  //- hr
  .sub READ
  br
  br
  br

  //- br
  //- br
  .sub 2022
  br
  br
  br

  .book
    .img-wrapper
      img(src=my_year_of_rest_and_relaxation)
    .book-info
      .title My Year of Rest and Relaxation
      .author Ottessa Moshfegh
      .publish-info 2018
      .read-date Dec 29 2021 - Jan 5 2022
    .review A dark humor masterpiece. Live inside flippant self-destruction and escapism for a year, come out whole. Just what I needed.


  br
  br
  .sub 2021
  br
  br
  br

  .book
    .img-wrapper
      img(src=my_year_of_meats)
    .book-info
      .title My Year of Meats
      .author Ruth Ozeki
      .publish-info 1998
      .read-date 27 Nov - 20 Dec 2021
    .review Ruth is so cool

  .book
    .img-wrapper
      img(src=in_the_dream_house)
    .book-info
      .title In the Dream House
      .author Carmen Maria Machado
      .publish-info 2019
      .read-date 18 - 21 Nov 2021 
    .review <3


  .book
    .img-wrapper
      img(src=consolations_of_philosophy)
    .book-info
      .title The Consolations of Philosophy
      .author Alain de Botton
      .publish-info 2000
      .read-date 19 Sep - 22 Oct 2021
    .review I would recommend Sophie's World over this

  .book
    .img-wrapper
      img(src=the_italian)
    .book-info
      .title The Italian
      .author Ann Radcliffe
      .publish-info 1794
      .read-date 5 Jul - 17 Oct 2021
    .review trying to get my gothic kick; this was ok (too long), and not really it

  .book
    .img-wrapper
      img(src=ice)
    .book-info
      .title Ice
      .author Anna Kavan
      .publish-info 1967
      .read-date 2 Aug - 24 Sep 2021
    //- .review artistically inspiring to me
    //- .review inspired/intrigued by the surrealism and twistedness written with sparse, cold language (that english does so well), but i don't feel it was executed perfectly
    .review I'm really smitten with this sort of surreal, twisted world rendered in Kavan's sparse, cold language (that English lends itself so well to), but I don't feel it was executed perfectly


  .book
    .img-wrapper
      img(src=henry_and_june)
    .book-info
      .title Henry and June
      .author Anaïs Nin
      .publish-info 1986
      .read-date 2019 - 2021 (slowly)
    //- .review feverish, something to be devoured
    //-  i almost wish this was fiction so i wouldn't feel so weird about being engrossed and obsessed with this Nin's real life and loves


  .book
    .img-wrapper
      img(src=endgame)
    .book-info
      .title Endgame
      .author Samuel Beckett
      .publish-info 1957
      .read-date 30 Jul 2021
    //- .review


  .book
    .img-wrapper
      img(src=we)
    .book-info
      .title We
      .author Yevgeny Zamyatin
      .publish-info 1920, transl. from Russian by Mirra Ginsburg
      .read-date 1 Jun - 5 Jul 2021
    //- .review 


  .book
    .img-wrapper
      img(src=either_or_1)
    .book-info
      .title Either/Or, Part I
      .author Søren Kierkegaard
      .publish-info 1843, transl. from Danish by David F. Swenson and Lillian Marvin Swenson
      .read-date 13 Sep 2020 - 8 Jun 2021
    //- .review 


  .book
    .img-wrapper
      img(src=the_age_of_innocence)
    .book-info
      .title The Age of Innocence
      .author Edith Wharton
      .publish-info 1920
      .read-date 22 - 30 May 2021
    .review spent a rainy, dreamy, intense weekend inside this novel
      //- (new york)
      //- aaaaughghgh edith wharton
      //- imagining wuthering heights, ethan frome, and greta garbo as ellen olenksa


  .book
    .img-wrapper
      img(src=old_times)
    .book-info
      .title Old Times
      .author Harold Pinter
      .publish-info 1971
      .read-date 24 May 2021
    .review really glad I picked up this strange little play


  //- .book
  //-   .img-wrapper
  //-     img(src=)
  //-   .book-info
  //-     .title Odd Girl Out
  //-     .author Laura James
  //-     .publish-info 2017
  //-     .read-date May 2021
  //-   .review 


  .book
    .img-wrapper
      img(src=faust)
    .book-info
      .title Faust
      .author Johann von Goethe
      .publish-info 1832, transl. from German by George Madison Priest
      .read-date Apr - May 2021
    //- .review 


  //- .book
  //-   .img-wrapper
  //-     img(src=thinking_in_pictures)
  //-   .book-info
  //-     .title Thinking in Pictures
  //-     .author Temple Grandin
  //-     .publish-info 1995, 2006 (Expanded Edition)
  //-     .read-date 7 - 9 May 2021
  //-   //- .review 

      
  .book
    .img-wrapper
      img(src=a_beautiful_question)
    .book-info
      .title A Beautiful Question
      .author Frank Wilczek
      .publish-info 2015
      .read-date 10 Jan - 9 May 2021
    //- .review 

  //- .book
  //-   .img-wrapper
  //-     //- img(src=)
  //-   .book-info
  //-     .title Why I Am Not a Christian and Other Essays
  //-     .author Bertrand Russell
  //-     .publish-info 
  //-     .read-date 2020 - 2021
  //-   //- .review 

  .book
    .img-wrapper
      img(src=a_secular_age)
    .book-info
      .title A Secular Age
      .author Charles Taylor
      .publish-info 2007
      .read-date 17 Nov 2020 - 24 Apr 2021
    .review A mammoth of a work that provided incredibly insightful historical context to the story of how we got to where we are today in this "secular age". Taylor problematizes the mainstream over-simplified narratives that we use to understand the arc of Western religious history, and offers much more nuanced, careful, fascinating accounts of the various major shifts that happened: from the medieval "golden age" of Christianity, through the Reformation and Scientific Revolution, and into the 20th century "supernova" of spiritual directions and cross-tensions. I found this to be such an interesting read that has really challenged the assumptions implicit in our modern understanding of belief, time, art, meaning, and embodiment.

  .book
    .img-wrapper
      img(src=under_the_net)
    .book-info
      .title Under the Net
      .author Iris Murdoch
      .publish-info 1954
      .read-date 18 Mar - 8 Apr 2021
    .review Thoroughly enjoyed! Murdoch's style and humor really hit the spot for me. It's a light, kind of absurd adventure vis our cheeky but good-natured protagonist, with musings, wanderings about without a place to sleep, impulsive scrambling to and fro around London and Paris, over-grandeurizations, off-hand philosophical debates, and taking love and life day by day.
    
  .book
    .img-wrapper
      img(src=bone)
    .book-info
      .title Bone
      .author Yrsa Daley-Ward
      .publish-info 2014
      .read-date 24 Feb - 2 Apr 2021
    //- .review 

  .book
    .img-wrapper
      img(src=night_of_january_sixteen)
    .book-info
      .title The Night of January 16th
      .author Ayn Rand
      .publish-info 1936
      .read-date 21 Mar 2021
    .review trying to read more drama! (but probably less Ayn Rand..)

  .book
    .img-wrapper
      img(src=the_thirtieth_year)
    .book-info
      .title The Thirtieth Year: Stories
      .author Ingeborg Bachmann
      .publish-info 1961, transl. from German
      .read-date 17 Feb - 16 Mar 2021
    .review Bachmann is my literal hero. One day I need to sit down and properly articulate why her writing so personally stirs me. There is a persistent element of authoritative neuroticism running through her narrative voice. It is moody as a default, with patches of warmth; a constant questioning; a frustration with language, with boundary; impulsive and urgent. I get to see some interesting characters in these stories, many effusing the sort of cold and indifferent qualities of the impenetrable who're being swept by a dominant conviction. The title story, "The Thirtieth Year," and "A Step Toward Gomorrah" knocked me over completely.

  .book
    .img-wrapper
      img(src=dune)
    .book-info
      .title Dune
      .author Frank Herbert
      .publish-info 1965
      .read-date 7 Nov 2020 - 6 Mar 2021
    .review finally i've finished book one, very interesting ideas, especially about manufactured mysticism, and geo-engineering, but the story has just begun

  .book
    .img-wrapper
      img(src=una_donna)
    .book-info
      .title A Woman at Bay (Una donna)
      .author Sibilla Aleramo
      .publish-info 1906, transl. from Italian by Maria H. Lansdale
      .read-date 6 Feb - 1 Mar 2021
    .review Fascinating, moving
      
  .book
    .img-wrapper
      img(src=the_electricity_of_every_living_thing)
    .book-info
      .title The Electricity of Every Living Thing
      .author Katherine May
      .publish-info 2018
      .read-date 12 - 15 Feb 2021
    .review I really appreciate Katherine May

  .book
    .img-wrapper
      img(src=a_haunted_house_and_other_stories)
    .book-info
      .title A Haunted House and Other Stories
      .author Virginia Woolf
      .publish-info 1921, 1944
      .read-date 24 Jan - 15 Feb 2021
    .review Wonderful, brief, varied, moody gusts of Virginia Woolf. I think if you haven't read much Woolf before and you're looking to dip your toes in, this is an excellent place to start. Her deceptively slim novels are dense and require (at least from me) an intense amount of concentration, so I understand the hesitation to read them. The stories in this collection, though, are each less than 10 pages, and are the perfect afternoon dose of Woolf. There is something vital and essential to Woolf's writing for me; it seems I can't go too long without it before slipping into a kind of gray literary torpor.


  .book
    .img-wrapper
      img(src=spinoza_ethics)
    .book-info
      .title On the Improvment of Human Understanding / The Ethics / Selected Letters
      .author Baruch Spinoza 
      .publish-info 1677, transl. from Latin by R. H. M. Elwes
      .read-date 2 Dec 2020 - 7 Feb 2021
    //- .review Spinoza: the philosopher's philosopher


  .book
    .img-wrapper
      img(src=the_book)
    .book-info
      .title The Book: On the Taboo Against Knowing Who You Are
      .author Alan Watts
      .publish-info 1966
      .read-date .. Jan 2021
    .review .. let's let this marinate for a while .. certainly the most framework-of-reality-challenging thing I have read recently


  .book
    .img-wrapper
      img(src=her_body_and_other_parties)
    .book-info
      .title Her Body and Other Parties
      .author Carmen Maria Machado
      .publish-info 2017
      .read-date 11-23 Jan 2021
    .review electrifying and genuinely frightening. I liked how Machado played love and fear off one another, sometimes they worked together and sometimes they pulled in different directions or overlaid each other, like in the haunting (from a covid-19 perspective) recounting of a woman's partners against the backdrop of a deadly pandemic. I appreciated how sex as a narrative element was never quite antagonistic/scary, but instead another layer of enthrallment. the body was a weird meeting place for the supernatural, for lust, psychosis, dis/embodiment. these stories were riveting, surprising, thrilling, mysterious. they inspire in the reader a hunger for more ... 


  //- .book
  //-   .img-wrapper
  //-     img(src=)
  //-   .book-info
  //-     .title Why Revival Tarries
  //-     .author Leonard Ravenhill
  //-     .publish-info 
  //-     .read-date Jan 2021
  //-   .review 


    
  .book
    .img-wrapper
      img(src=wintering)
    .book-info
      .title Wintering
      .author Katherine May
      .publish-info 2020 
      .read-date 21-22 Jan 2021
    //- .review 


  br
  br
  .sub 2020
  br
  br
  br

  .book
    .img-wrapper
      img(src=bluets)
    .book-info
      .title Bluets
      .author Maggie Nelson
      .publish-info 2009
      .read-date 31 Dec 2020
    //- .review

  .book
    .img-wrapper
      img(src=we_need_to_talk)
    .book-info
      .title We Need to Talk
      .author Celeste Headlee
      .publish-info 2017
      .read-date 12 - 17 Dec 2020
    //- .review

  .book
    .img-wrapper
      img(src=a_mathematicians_apology)
    .book-info
      .title A Mathematician's Apology
      .author G.H. Hardy
      .publish-info 1940
      .read-date 8-9 Dec 2020
    //- .review

  .book
    .img-wrapper
      img(src=a_little_life)
    .book-info
      .title A Little Life
      .author Hanya Yanagihara
      .publish-info 2016
      .read-date Mar - 6 Dec 2020
    .review [slam my heart into the ground] <br>--<br>This book really pokes the central wound of life right in the cornea. Yanagihara has given the world an enormous, epic, astounding empathic feat. I thought I would break or implode so many times throughout the reading process, yet somehow I've come out whole: mad at these 700 pages, for what they've done to me, the state they've left me in, (the memories they've given to me), but also in awe -- a much bigger awe: at Yanagihara's achievement; at our (the author's and the reader's) disappearance into this world; at the painful lifesource of friendship; at the beauty and fragility and uncertainty of being; and at the incomparable intimacy of sharing an entire life with people you love and who, mysteriously, love you.
    
    //- <br><br>Read this; do.



    
  .book
    .img-wrapper
      img(src=ravel_man_and_musician)
    .book-info
      .title Ravel: Man and Musician
      .author Arbie Orenstein 
      .publish-info 1968
      .read-date 15 Jun - 2 Dec 2020
    .review Ravel's the man but this biographer was not too illuminating. The best parts were direct quotes from Ravel, such as <br><br>"[O]ften it is not until years after, when the means of expression have finally surrendered all their secrets, that the real inner emotion of the music becomes apparent to the listener."<br><br>And (on the composition process), "I find a long period of conscious gestation, in general, necessary [...] I may thus be occupied for years without writing a single note of the work--after which the writing goes relatively rapidly; but there is still much time to be spent in eliminating everything that might be regarded as superfluous, in order to realize as completely as possible the longed-for final clarity."<br><br>In general, it's been fascinating to learn more about the lives and (first-hand) thoughts of the artists I admire (Woolf, St. Vincent Millay, Ravel, Weil, Nin), and I definitely would like to continue this thread.
    
  .book
    .img-wrapper
      img(src=liberating_theory)
    .book-info
      .title Liberating Theory
      .author Michael Albert, Leslie Cagan, Noam Chomsky, Robin Hahnel, Mel King, Lydia Sargent, Holly Sklar
      .publish-info 1986
      .read-date 15 - 26 Nov 2020
    .review provides some structure and clarity; I mostly agree with everything here, but as a proposed theory it was underwhelming

  .book
    .img-wrapper
      img(src=philosophical_sketches)
    .book-info
      .title Philosophical Sketches
      .author Susanne K. Langer
      .publish-info 1962
      .read-date Fall 2019 - 18 Nov 2020 
    .review I love this little philsophy book. Because each essay ("sketch") is relatively short, every argument/speculation packs a punch and invited me to think more formally about a wide range of essential topics: language, evolution, society, knowledge, consciousness, art, meaning. I found the sketches startling in their precision and rational creativity. I'm so glad I picked this up and I HIGHLY RECOMMEND AND NOW HAVE SO MANY NEW IDEAS IN MY HEAD!

  .book
    .img-wrapper
      img(src=if_not_winter)
    .book-info
      .title If Not, Winter: Fragments of Sappho
      .author Anne Carson
      .publish-info 2002
      .read-date ..
    //- .review 

      
  .book
    .img-wrapper
      img(src=the_picture_of_dorian_gray)
    .book-info
      .title The Picture of Dorian Gray
      .author Oscar Wilde
      .publish-info 1890, England
      .read-date 3 Aug 2020 - .. Sep 2020
    .review !!

    
  .book
    .img-wrapper
      img(src=waiting_for_god)
    .book-info
      .title Waiting for God
      .author Simone Weil
      .publish-info 1951, transl. from French
      .read-date 2 Jul - 7 Sep 2020
    .review Simone Weil has an almost inhuman intellectual rigor ... -> a supernatural faith.  Weil's uncompromising devotion to spiritual exactitude and virtue reveal new truths about God. I can only read her work with awe. These writings should be as 'required' as C.S. Lewis.<br><br>"A sense of our mediocrity...no knowledge is more to be desired."

    
  .book
    .img-wrapper
      img(src=malina)
    .book-info
      .title Malina
      .author Ingeborg Bachmann
      .publish-info 1971, transl. from German
      .read-date 23 Aug - 5 Sep 2020
    .review ONE OF THE GREATEST BOOKS I HAVE EVER READ <br>--<br>Dark, obsessive, absurd ... this book at every step, at every astonishing achievement of language, eludes understanding--yet is implicitly understood. I am obsessed. My only wish is to have been able to read it in German.



  .book
    .img-wrapper
      img(src=dont_look_now)
    .book-info
      .title Don't Look Now
      .author Daphne du Maurier
      .publish-info 1940
      .read-date 20 Jul - 22 Aug 2020
    .review ooo

  .book
    .img-wrapper
      img(src=in_praise_of_shadows)
    .book-info
      .title In Praise of Shadows
      .author Jun'ichirō Tanizaki
      .publish-info 1933, transl. from Japanese
      .read-date 9 Aug 2020
    .review "Were it not for shadows, there would be no beauty."

  .book
    .img-wrapper
      img(src=on_photography)
    .book-info
      .title On Photography
      .author Susan Sontag
      .publish-info 1973
      .read-date 14 Jun - 25 Jul 2020
    .review This is Sontag's skeptical, precise de-romanticization of photography. The advances of each decade since these essays were compiled would only multiply and serve to prove the truth of her observations and critical conclusions about photography as a practice, a cultural phenomenon, an art, and about the Image and its relationship to society.
        
  .book
    .img-wrapper
      img(src=for_the_time_being)
    .book-info
      .title For the Time Being
      .author Annie Dillard
      .publish-info 1999
      .read-date 1 - 27 Jun 2020
    .review ... like a dream about the nature of life ... Annie Dillard is an archaeologist of meaning

  .book
    .img-wrapper
      img(src=understanding_power)
    .book-info
      .title Understanding Power: The Indispensable Chomsky
      .author Noam Chomsky
      .publish-info 2002
      .read-date 20 Oct 2019 - 10 Jun 2020
    .review my man

  .book
    .img-wrapper
      img(src=walden)
    .book-info
      .title Walden and Resistance to Civil Government
      .author Henry David Thoreau
      .publish-info 1849
      .read-date Mar - 31 May 2020
    //- .review 


  .book
    .img-wrapper
      img(src=a_writers_diary)
    .book-info
      .title A Writer's Diary
      .author Virginia Woolf
      .publish-info 1953
      .read-date 20 Feb - 25 May 2020
    .review lots of thoughts, emotions, reactions...will type them up here soon
    //- .review Here Are My Thoughts!!!! I love V. Woolf heheh ehu huahu ehu huweah kaufjansdf,jsadnf,asdnf ,asn,.fsg,sagn.s,akn... tho i cant bear to finish this :(

  .book
    .img-wrapper
      img(src=ariel)
    .book-info
      .title Ariel
      .author Sylvia Plath
      .publish-info 1966
      .read-date Mar - 23 May 2020
    .review These are not the sorts of poems you copy onto a card and send to your friends; these you read alone, bitterly, in agony: as solace when life becomes sore.


  .book
    .img-wrapper
      img(src=consider_the_lobster)
    .book-info
      .title Consider the Lobster and Other Essays
      .author David Foster Wallace
      .publish-info 2005
      .read-date 20 Apr - 10 May 2020
    .review DFW could write about literally anything and I would read it.

  .book
    .img-wrapper
      img(src=welcome_to_the_monkey_house)
    .book-info
      .title Welcome to the Monkey House
      .author Kurt Vonnegut
      .publish-info 1968
      .read-date 15 Mar - 11 Apr 2020
    .review Exploratory, mysterious, always hopeful in the end

  .book
    .img-wrapper
    //- img
    .book-info
      .title Death of a Salesman
      .author Arthur Miller
      .publish-info 1949
      .read-date Mar 2020
    //- .review 

  .book
    .img-wrapper
      img(src=why_we_sleep)
    .book-info
      .title Why We Sleep
      .author Matthew Walker
      .publish-info 2017
      .read-date 23 Jun 2018 - 11 Apr 2020
    .review. 
      This book made me become pretty neurotic about getting enough sleep...ultimately a beneficial neurosis, I think. I would recommend everyone to read at least the first section. The studies described are all pretty astounding. Perhaps it’s too good a conclusion to be true, but it seems like sleep is that missing lurking variable behind most, if not all, areas of health science.
      <br><br>
      When I told my chronically sleep-deprived parents about the contents of this book they reacted as if I’d joined some doomsday cult. I say: if it’s possible for you right now, just try it for yourself: prioritizing 8 hours of good sleep is a small price to pay for well-being, creativity, intelligence, memory, and longevity.  

  .book
    .img-wrapper
    //- img
    .book-info
      .title Hedda Gabler
      .author Henrik Ibsen
      .publish-info 1890
      .read-date Mar 2020
    //- .review 

  .book
    .img-wrapper
      img(src=trick_mirror)
    .book-info
      .title Trick Mirror
      .author Jia Tolentino
      .publish-info 2019
      .read-date 19 Feb - 9 Mar 2020
    //- .review

  .book
    .img-wrapper
      img(src=sense_and_sensibility)
    .book-info
      .title Sense and Sensibility
      .author Jane Austen
      .publish-info 1811
      .read-date 17 Jan - Mar 8 2020
    //- .review

  .book
    .img-wrapper
      img(src=a_supposedly_fun_thing)
    .book-info
      .title A Supposedly Fun Thing I'll Never Do Again
      .author David Foster Wallace
      .publish-info 1998
      .read-date 14 Jan - 17 Feb 2020
    .review Incredible: stimulating and entertaining; engrossingly but not excruciatingly detailed. DFW is the champion of the Adjective.

  .book
    .img-wrapper
      img(src=men_explain_things_to_me)
    .book-info
      .title Men Explain Things to Me
      .author Rebecca Solnit
      .publish-info 2014
      .read-date 19 - 20 Jan 2020
    //- .review 

  .book
    .img-wrapper
      img(src=the_clean_house)
    .book-info
      .title The Clean House and Other Plays
      .author Sarah Ruhl
      .publish-info 2006
      .read-date 8 - 16 Jan 2020
    .review Sarah Ruhl rules.

  .book
    .img-wrapper
      img(src=cant_and_wont)
    .book-info
      .title Can't and Won't
      .author Lydia Davis
      .publish-info 2014
      .read-date 3 - 16 Jan 2020
    .review I love Lydia Davis!!

  .book
    .img-wrapper
      img(src=little_fires_everywhere)
    .book-info
      .title Little Fires Everywhere
      .author Celeste Ng
      .publish-info 2018
      .read-date 5 - 7 Jan 2020
    .review Sweeping.

  .book
    .img-wrapper
      img(src=their_eyes_were_watching_god)
    .book-info
      .title Their Eyes Were Watching God
      .author Zora Neale Hurston
      .publish-info 1937
      .read-date 29 Dec 2019 - 3 Jan 2020
    //- .review 

  .book
    .img-wrapper
      img(src=tidying_up)
    .book-info
      .title The Life-Changing Magic of Tidying Up
      .author Marie Kondō
      .publish-info 2014
      .read-date 15 Aug 2019 - 1 Jan 2020
    .review Worth a read. Marie Kondo did change my life in several ways.

  br
  br
  .sub 2019
  br
  br
  br

  .book
    .img-wrapper
      img(src=we_learn_nothing)
    .book-info
      .title We Learn Nothing
      .author Tim Kreider
      .publish-info 2013
      .read-date 25 - 31 Dec 2019
    //- .review 

  .book
    .img-wrapper
      img(src=the_plague)
    .book-info
      .title The Plague
      .author Albert Camus
      .publish-info 1947, transl. from French by Stuart Gilbert
      .read-date 6 - 24 Dec 2019
    //- .review 

  .book
    .img-wrapper
      img(src=ruhl_essays)
    .book-info
      .title 100 Essays I Don't Have Time to Write
      .author Sarah Ruhl
      .publish-info 2012
      .read-date 18 Nov - 23 Dec 2019
    .review Ahhhh very wonderful. I read a few of these every morning for the past few weeks, and it’s been such a pleasure. Each mini-essay is thought-provoking, personal, and features Sarah Ruhl’s amazing sense of humor. 

  .book
    .img-wrapper
      img(src=wuthering_heights)
    .book-info
      .title Wuthering Heights
      .author Emily Brontë
      .publish-info 1847
      .read-date 22 Nov - 1 Dec 2019
    //- .review 

    
  .book
    .img-wrapper
      img(src=when_breath_becomes_air)
    .book-info
      .title When Breath Becomes Air
      .author Paul Kalanithi
      .publish-info 2016
      .read-date 25 - 26 Nov 2019
    .review Ahhhhhhhhhhhhhhhhhhhhhhhh the glimmer of this precious soul in this precious book

  .book
    .img-wrapper
      img(src=the_death_of_ivan_ilyich)
    .book-info
      .title The Death of Ivan Ilyich
      .author Leo Tolstoy
      .publish-info 1886, transl. from Russian by Lynn Solotaroff
      .read-date 6 - 18 Nov 2019
    //- .review 


  .book
    .img-wrapper
      img(src=mrs_dalloway)
    .book-info
      .title Mrs. Dalloway
      .author Virginia Woolf
      .publish-info 1925
      .read-date 28 Oct - 5 Nov 2019
    .review. 
      	Virginia Woolf puts me into such a state of overexcitement and frenzy, Mrs. Dalloway is an entire world and all of existence in one bursting day. I read some of the best sentences in the English language here!!
        <br><br>
        “Only for a moment; but it was enough. It was a sudden revelation, a tinge like a blush which one tried to check and then, as it spread, one yielded to its expansion, and rushed to the farthest verge and there quivered and felt the world come closer, swollen with some astonishing significance, some pressure of rapture, which split its thin skin and gushed and poured with an extraordinary alleviation over the cracks and sores! Then, for a moment, she had seen an illumination; a match burning in a crocus; an inner meaning almost expressed. But the close withdrew; the hard softened. It was over—the moment.”
        <br><br>
        Here is a novel to get lost inside of sentences, wandering the streets of London and the minds and pasts of its people. Woolf writes to fully convey a MOMENT—how large that moment can be, how full of meaning and sensation !! I wandered through this book, grasped at the beginnings and ends of thoughts, held on to feelings even as they disappeared, and felt the glowing, sensitive magnificence of the mystery of being.

  .book
    .img-wrapper
      img(src=howl)
    .book-info
      .title Howl and Other Poems
      .author Allen Ginsberg
      .publish-info 1956
      .read-date 25 - 26 Oct 2019
    //- .review 
  

  .book
    .img-wrapper
      img(src=the_living_mountain)
    .book-info
      .title The Living Mountain
      .author Nan Shepherd
      .publish-info 1977
      .read-date 25 Oct 2019
    .review. 
      Incredibly Scottish, I had to look up every 7th word, but wonderful. Perfect accompaniment for an intimate excursion up whichever great mountain looms over you.
      <br><br>
      “So, simply to look on anything, such as a mountain, with the love that penetrates to its essence, is to widen the domain of being in the vastness of non-being. Man has no other reason for his existence.”
  
  .book
    .img-wrapper
      img(src=on_the_road)
    .book-info
      .title On the Road: The Original Scroll
      .author Jack Kerouac
      .publish-info 1957
      .read-date 17 - 24 Oct 2019
    .review.
      Yes, yes, yes! I dig it, these magnificent, magnificent visions of the road, this sprawling scroll of ever onwards and the ever illuminating vastness of wide open land.
      <br><br>
      This urgently told, go go go recounting of endless happenings on the road back and forth, up and down the U.S. has infected me with my own inner go, go, go—a thirst for experiencing life, finding what’s exciting about it, traveling across the country, and writing about it all with the splendid candor of Jack Kerouac’s prose, and talking about it in the decisive, enchanting, and insane manner of Neal Cassady.
  
  
  .book
    .img-wrapper
      img(src=the_weight_of_glory)
    .book-info
      .title The Weight of Glory
      .author C.S. Lewis
      .publish-info 1949 
      .read-date 18 - 23 Oct 2019
    //- .review 
  
  
  .book
    .img-wrapper
      img(src=my_brilliant_friend)
    .book-info
      .title My Brilliant Friend
      .author Elena Ferrante
      .publish-info 2011, transl. from Italian by Ann Goldstein
      .read-date 20 Sep - 16 Oct 2019
    .review. 
      	I was so immediately immersed into this novel; Ferrante puts into words those dazzling emotions of friendship that I've also felt in my life--so mesmerizing, so captivating are those friendships, and here is one of the greatest friendships between women in all of the literature I've read.
        <br><br>
        Most of all, <i>My Brilliant Friend</i> is about the desperation, complexity, and attachment of intimate friendship. The strings that bind Lila and Lenù together are earth-shattering, bigger than any of the romantic love in the novel, inexplicable. The story of the beginning years of this epic friendship speaks to the power we hold over each other and the endless mysteries of relationships--as if they are a puzzle we long to resolve, to find security in, but that continue to confound, disappoint, and fascinate us.
        <br><br>
        I read this novel hungrily, all throughout thinking: this is the love of friends--lifelong, strange, full of tension and power dynamics; they're made of a fabric of unconditional protection, long-held hurt, comparison and inadequacy, moments of sheer joy, excitement, ecstasy, painful hyperawareness of the other, the secret pleasures of exclusivity, of going into the world together, alone except for each other. I found solace in Lenu's inner world, in her insecurities, her fragile heart, her confusion, and her submission to the inescapable, unfailing grasp that Lila seemed to have on her life.
        <br><br>
        I love what John Freeman wrote of the Neapolitan series: "Imagine if Jane Austen got angry and you'll have some idea how explosive these works are."
        <br><br>
        I so loved this novel and I'll be sure to read the next three!
  
  
  .book
    .img-wrapper
      img(src=the_brothers_karamazov)
    .book-info
      .title The Brothers Karamazov
      .author Fyodor Dostoyevsky
      .publish-info 1879, transl. from Russian by Constance Garnett
      .read-date 2 Jul - 12 Oct 2019
    .review Oh my, there is so, so much to say, and I can’t say it all now. This was magnificent, brilliant, philosophical, intricate, dense. “Dostoyevsky paints like Rembrandt” (Andre Gide). I’ll miss reading about dear Alyosha, Dmitri, and Ivan every night. Dostoevsky’s fiction is unrivaled...his characters are rendered with unbelievable depth, and the sheer breadth of characters is breathtaking. He understands the rich, the poor, the wretched, and the righteous. All is deeply philosophical, and the experience of reading this spun me into a loop several times thinking and rethinking religion, morality, honor, and despair.
  
  
  .book
    .img-wrapper
      img(src=on_the_shortness_of_life)
    .book-info
      .title On the Shortness of Life
      .author Seneca
      .publish-info 49 AD
      .read-date 8 - 10 Oct 2019
    .review. 
      This was fascinating to wrestle with! I don’t agree with some of it, but I think there’s always a time in our lives when we need to hear some good Stoic advice. It’s shocking that Seneca lived 2000 years ago, yet so many of the traps we fall into as humans seeking purpose and joy are the same, and he addresses them thoroughly and methodically.
      <br><br>
      “Of all people only those are at leisure who make time for philosophy, only those are really alive. For they not only keep a good watch over their own lifetimes, but they annex every age to theirs. All the years that have been passed before them are added to their own.”<br>
      From the first essay/letter, “On the Shortness of Life”
      <br><br>
      Seneca really emphasizes stewardship of our time, and at first I resisted understanding this because I value generosity—i.e., giving my time and energies freely to a wide range of people and activities. Though Stoicism doesn’t naturally align with this sort of idealistically overflowing heart, I still think there’s a lot of wisdom for me to gain in how I give my time and energy, as they can be given foolishly.
    
  .book
    .img-wrapper
      img(src=just_mercy)
    .book-info
      .title Just Mercy
      .author Bryan Stevenson
      .publish-info 2014
      .read-date 8 Mar - 8 Oct 2019
    .review. 
      “The power of just mercy is that it belongs to the undeserving. It’s when mercy is least expected that it’s most potent—strong enough to break the cycle of victimization and victimhood, retribution and suffering.”
      <br><br>
      The last few chapters of this book have made me think a lot about the suffering I’ve caused others in the name of “justice,” how harsh and unrelenting I’ve been, how inhumane. Stevenson also wrote:
      <br>
      “Fear and anger are a threat to justice; they can infect a community, a state, or a nation and make us blind, irrational, and dangerous.”
      <br><br>
      I realized that when Stevenson talks about “just mercy” he is addressing both the victims and the victimizers (for many of us have been both). He appreciates victims of injustice who forgive those who enacted the injustice on them, and he calls on the public and the state to have mercy on those who commit crimes—to understand the context they come from. We, as both people who have been hurt and people who hurt others, can show compassion and mercy to those who hurt us instead of acting out of self-righteous, fear-induced anger. Not only would this mercy be good, but it would more importantly be just.
      <br><br>
      “The death penalty is not about whether people deserve to die for the crimes they commit. The real question of capital punishment in this country is, Do we deserve to kill?”
      <br><br>
      There is so, so much to learn from this book. I haven’t even picked out the most important parts of this book for the review (such as the history of capital punishment, the cruel treatment of children in the criminal justice system, and the system of mass incarceration in the US); these thoughts are just what linger on with me as I finish the book. I highly recommend picking this one up! Stevenson writes with such honest clarity; his recollection of these important cases is both focused and passionate. I really appreciate this book for teaching me and moving my heart and mind. 
  
  
  .book
    .img-wrapper
      img(src=brave_new_world)
    .book-info
      .title Brave New World
      .author Aldous Huxley
      .publish-info 1932
      .read-date 23 - 26 Sep 2019
    //- .review 

    
  .book
    .img-wrapper
      img(src=the_abundance)
    .book-info
      .title The Abundance
      .author Annie Dillard
      .publish-info 2016
      .read-date 18 - 22 Sep 2019
    .review Funny, observant, and poetic
  

    
  .book
    .img-wrapper
      img(src=alices_adventures_in_wonderland)
    .book-info
      .title Alice's Adventures in Wonderland & Through the Looking-Glass
      .author Lewis Carroll
      .publish-info 1871
      .read-date 15 - 18 Sep 2019
    //- .review 
  

    
  .book
    .img-wrapper
      img(src=the_martian_chronicles)
    .book-info
      .title The Martian Chronicles
      .author Ray Bradburry
      .publish-info 1950
      .read-date 2 - 5 September 2019
    .review Delightful, thought-provoking, and occasionally cynical tales of humans’ first contact with and subsequent habitation on Mars.
  

    
  .book
    .img-wrapper
      img(src=a_field_guide_to_getting_lost)
    .book-info
      .title A Field Guide to Getting Lost
      .author Rebecca Solnit
      .publish-info 2005
      .read-date 5 Jul - 28 Aug 2019
    .review This book was an absolute pleasure. Solnit’s beautiful prose was a comforting companion for many of my long train rides this past month. In these essays, she gives words and shape to the abstract and intangible vastnessss of the unknown, of longing, and of life in a startling accuracy that I’ve never experienced before. “Abandon” is spectacular! Should anything ever happen or not happen in the world, I would want Rebecca Solnit to recount it.
  

    
  .book
    .img-wrapper
      img(src=emma)
    .book-info
      .title Emma
      .author Jane Austen
      .publish-info 1815
      .read-date 1 Jul - 15 Aug 2019
    .review Lovely and delightful (the wittiest voice I’ve read in my recent memory!), let me live inside this world for a little bit longer...
  

    
  .book
    .img-wrapper
      img(src=the_abolition_of_man)
    .book-info
      .title The Abolition of Man
      .author C.S. Lewis
      .publish-info 1943
      .read-date 20 Jan - 16 Jun 2019
    .review This is C.S. Lewis’s defense of objective value. Lots of good stuff in here!! “The Abolition of Man” essay was quite haunting to read 40 years after it was written... we seem to still be headed in the direction that Lewis postulated and feared. Reading it gave me a helpful framework for understanding my unease about our growing technological might. I wonder what Lewis would have thought about artificial intelligence! Ha! I will continue to think about all this slowly over the next few months/years.

      
  .book
    .img-wrapper
      img(src=the_leavers)
    .book-info
      .title The Leavers
      .author Lisa Ko
      .publish-info 2017 
      .read-date 9 Apr - 15 Jun 2019
    .review Beautiful, this book is like an emotional sour punch

      
  .book
    .img-wrapper
      img(src=sour_heart)
    .book-info
      .title Sour Heart
      .author Jenny Zhang
      .publish-info 2017
      .read-date 8 - 15 Jun 2019
    .review Wow, I’ve never been so moved to unexpected tears—and secret feelings and aching reminiscences of childhood and (most of all right now) devastation that the pages have run out—by a collection of stories. These stories are beautiful and sometimes ugly and painful in their truth, in their never-ending hope, in their curiosity, and most wonderfully, in their pure joy and embodiment of love. I really experienced the full spectrum of tears while reading this—thank you so much for bringing these to life, Jenny!! 

      
  .book
    .img-wrapper
      img(src=on_doing_nothing)
    .book-info
      .title On Doing Nothing
      .author Roman Muradov
      .publish-info 2018
      .read-date 26 - 28 May 2019
    .review :) A short, whimsical, and beautiful quasi-literature-review of the benefits and wonders of idleness in art, writing, and life

      
  .book
    .img-wrapper
      img(src=anthem)
    .book-info
      .title Anthem
      .author Ayn Rand
      .publish-info 1938
      .read-date 25 May 2019
    .review 	Worship of “We” vs. worship of “I” <br><br>A perspective from the 1940s that I have honestly not encountered today, because it’s like it’s already engrained in our individualistic society. Rand argues for the worship of the “I” — the individual — above all else, and as a means in and of itself. It’s pretty wild to think that now, 70 years later, this is where we are. I’m afraid Rand and Objectivism hasn’t worked out, though, since people are curiously unhappy when they try to live for only themselves and their own happiness. I might still read more of her work, though, to get a better idea of it all.

      
  .book
    .img-wrapper
      img(src=a_tale_for_the_time_being)
    .book-info
      .title A Tale for the Time Being
      .author Ruth Ozeki
      .publish-info 2013
      .read-date 29 Jan - 1 Apr 2019
    .review A wonderful combination of deep-dives into a collection of interesting subjects, including: Buddhist principles of time, quantum mechanics, birds, family, suicide, 9/11, Japan in WWII, what it means to live and die, and agency in fiction. I particularly loved the exploration of meta-fiction and the careful teasing of (but not quite fulfillment of) surrealism throughout this novel. <i>A Tale for the Time Being</i> is hard to explain to other people, and that's one of the reasons I love it -- it was at the same time investigative and magical, dark and light, pensive and emotional, informative and questioning -- truly an enjoyable, compelling read. 

        
  .book
    .img-wrapper
      img(src=sophies_world)
    .book-info
      .title Sophie's World
      .author Jostein Gaarder
      .publish-info 1991, transl. from Norwegian
      .read-date 31 Dec 2018 - 26 Jan 2019
    .review Fun book! <i>Sophie’s World</i> is a pretty simple and digestible overview of Western philosophy. I found it a useful springboard for finding philosophers I wanted to read more of. The book did drag a bit, but I don’t think it’s meant to be read all at once.

        
  .book
    .img-wrapper
      img(src=a_room_of_ones_own)
    .book-info
      .title A Room of One's Own
      .author Virginia Woolf
      .publish-info 1929
      .read-date 2 - 6 Jan 2019
    .review 	I really enjoyed this essay! I admire and adore Virginia Woolf so much, and of course recommend this. I found it a bit quicker and lighter than her fiction, so it’s a good read for being outdoors on a nice day :)<br><br>I think also after reading a lot of queer-feminist theory this past semester, Woolf’s prose and opinion on women and fiction was refreshing—full of wit, hope, and appreciation of literature and life.

  br
  br
  .sub 2018
  br
  br
  br
        
  .book
    .img-wrapper
      img(src=letters_to_a_young_poet)
    .book-info
      .title Letters to a Young Poet
      .author Rainer Maria Rilke
      .publish-info 1929, transl. from German
      .read-date 27 - 29 Dec 2018
    .review I really enjoyed this little collection. Rilke is astonishingly gentle in his advice and wisdom, and his love for and confidence in life, art, and solitude is comforting. In these letters Rilke also addresses romantic love, sickness, hardship, and God. I would recommend this to anyone seeking guidance or perspective on writing, art, or simply being.<br><br>“Always wish that you might be able to find patience enough in yourself to endure, and single-heartedness enough to believe; that you might win increasing trust in what is difficult, and in your solitude among other people. And for the rest, let life happen to you. Believe me: life is right, at all events.” Rilke, 1904

        
  .book
    .img-wrapper
      img(src=do_not_say_we_have_nothing)
    .book-info
      .title Do Not Say We Have Nothing
      .author Madeleine Thien
      .publish-info 2016
      .read-date 27 Oct - 26 Dec 2018
    .review Wow. This novel makes me feel as if I've just lived several lives; I hope these lives stay with me. Thien has created an intimate web of characters that I felt like I disappeared into; their hurt was my hurt; their dislodged and repressed longing my own.<br><br>I will never forget the unbreakable, timeless yet heartbreaking bond between Sparrow, Kai, and Zhuli (and so many others).<br><br>The characters' lives have the quality of being so unquestionably, undeniably lived. After a 10 hour plane ride--at least 5 hours of which were spent reading this book--it was difficult to re-enter my reality thinking that the lives in the book were fiction, while my life was real.<br><br>I enjoyed this novel's meditation on the space and time between people, between ideas, between what one desires and who one is--much of which was told through the lens of music and mathematics: the growing and shrinking of time; the way it may freeze, the way it may silence; the freedom of silence; the endless cycles of time, music, and generations.<br><br><i>Do Not Say We Have Nothing</i> grapples with a chockfull of questions that may be unanswerable, or which would take a lifetime to answer. What makes a life empty or full? What do we/can we hold onto inside when everything is taken away? Is it possible to really begin again? To change?<br><br>This novel and its stories has touched me so deeply. Thank you Madeleine Thien for writing this; I don't know much about you or your life, but within this book there were threads of hurt, love, and confusion that felt so <i>lived</i>, so <i>experienced</i>, that they were special and real in a way only a personal story can be.

        
  .book
    .img-wrapper
      img(src=love_toni_morrison)
    .book-info
      .title Love
      .author Toni Morrison
      .publish-info 2003
      .read-date 18 Nov - 20 Dec 2018
    .review This is actually the first Toni Morrison book I’ve read—picked it up on a whim because of the title in a used book store and just sat down to start reading it that day. (I had been itching for a good, immersive novel that said something profound about love.) This novel ended up being something entirely different, though. I thought it spoke more to vengeance, betrayal, youth, and power within families than to love. Or perhaps these are the ways that love when betrayed can become hate. The array of characters Morrison gives us are startlingly rich, and the non-linear timeline adds a sense of mystery to the story as it unfolds.

        
  .book
    .img-wrapper
      img(src=songmaster)
    .book-info
      .title Songmaster
      .author Orson Scott Card
      .publish-info 1980
      .read-date 3 - 23 Aug 2018
    .review Ah wow. When I started reading this book, it immediately became one of my favorite sci-fi books. It’s a really beautiful exploration of love (maternal/paternal, filial, romantic) and emotional control. The mechanics of the plot are also complex enough to make it feel like a typical sci-fi, world-building novel. Lots of places of my heart were touched!
  
  
          
  .book
    .img-wrapper
      img(src=the_trial)
    .book-info
      .title The Trial
      .author Franz Kafka
      .publish-info 1925
      .read-date 22 - 30 July
    .review :0 Yea<brr><br>The pace picked up toward the middle and the story became this intriguing knot of anxiety and absurdity. Joseph K.’s character development wasn’t amazing, yet I don’t think I can ever forget him. At the core he embodies the very human frustration with one’s own (inescapable) entanglement with human-made absurdities. As K.’s fear and anxiety grows to be more diffuse and suffocating, logic becomes convoluted and he gets stuck in the unnecessary web of the court system itself. I found it so interesting that on many levels I could relate to that feeling — when fear goes on overdrive and I become immersed in the very thing I didn’t wanted to care about.
  
  
          
  .book
    .img-wrapper
      img(src=one_hundred_years_of_solitude)
    .book-info
      .title One Hundred Years of Solitude
      .author Gabriel Garcia Marquez
      .publish-info 1967, transl. from Spanish
      .read-date 13 Jun - 21 Jul 2018
    .review Wow
  
  
          
  .book
    .img-wrapper
      img(src=the_stranger)
    .book-info
      .title The Stranger
      .author Albert Camus
      .publish-info 1942
      .read-date 27 - 28 May 2018
    .review Hmmmmmmmm
  
  
          
  .book
    .img-wrapper
      img(src=the_bell_jar)
    .book-info
      .title The Bell Jar
      .author Sylvia Plath
      .publish-info 1963
      .read-date 17 - 26 May 2018
    .review 	o man<br><br>The Bell Jar is an apt and startling portrayal of depression and of being suicidal. I resonated a lot with the book because of my own experiences. It was overall a pretty heavy book (despite Plath’s sharp humor - I actually laughed out loud a couple of times). There was incredibly precise, fresh, descriptive language throughout the entire work. It’s beautiful, and I’m glad it eventually got published, though I’m still heartbroken about Plath herself. The bell jar can return and descend seemingly out of nowhere :(<br><br>“To the person in the bell jar, blank and stopped as a dead baby, the world itself is the bad dream.”

            
  .book
    .img-wrapper
      img(src=the_waves)
    .book-info
      .title The Waves
      .author Virginia Woolf
      .publish-info 1931
      .read-date 22 Feb - 14 May 2018
    .review wow!!!!!!! wow

            
  .book
    .img-wrapper
      img(src=tuesdays_with_morrie)
    .book-info
      .title Tuesdays with Morrie
      .author Mitch Albom
      .publish-info 1997
      .read-date 31 Mar - 9 May 2018
    .review wonderful book :)

            
  .book
    .img-wrapper
      img(src=letters_to_kelly_clarkson)
    .book-info
      .title Letters to Kelly Clarkson
      .author Julia Bloch
      .publish-info 2012
      .read-date 28 Apr 2018
    .review I liked this collection! It's light, colloquial, insightful, funny, intimate, and sometimes strange in a wonderful way.

  .book
    .img-wrapper
      img(src=the_woman_warrior)
    .book-info
      .title The Woman Warrior
      .author Maxine Hong Kingston
      .publish-info 1976
      .read-date 21 Jan - 21 Feb 2018
    //- .review 

  br
  br
  .sub 2017
  br
  br
  br
            
  .book
    .img-wrapper
      img(src=the_sympathizer)
    .book-info
      .title The Sympathizer
      .author Viet Thanh Nguyen
      .publish-info 2015
      .read-date 14 May - 24 Dec 2017
    //- .review 

            
  .book
    .img-wrapper
      img(src=sum)
    .book-info
      .title Sum: Forty Tales from the Afterlives
      .author David Eagleman
      .publish-info 2009
      .read-date 8 May - 11 Nov 2017
    .review fun, light, thought-provoking
  

              
  .book
    .img-wrapper
      img(src=dogeaters)
    .book-info
      .title Dogeaters
      .author Jessica Hagedorn
      .publish-info 1990
      .read-date 3 Jan - 28 Apr 2018
    .review WHAT A BOOK<br><br>Highly recommend, Hagedorn is extremely talented, and this book is quite the feat
  
              
  .book
    .img-wrapper
      img(src=dear_jenny_we_are_all_find)
    .book-info
      .title Dear Jenny, We Are All Find
      .author Jenny Zhang
      .publish-info 2012
      .read-date 6 May 2017
    //- .review 
  

                
  .book
    .img-wrapper
      img(src=crush)
    .book-info
      .title Crush
      .author Richard Siken
      .publish-info 2005
      .read-date 4 Mar 2017
    //- .review 
  

                
  .book
    .img-wrapper
      img(src=night_sky_with_exit_wounds)
    .book-info
      .title Night Sky with Exit Wounds
      .author Ocean Vuong
      .publish-info 2016
      .read-date 4 - 6 Jan 2017
    .review destroyed me
  
  br
  br
  .sub 2016
  br
  br
  br
            

                
  .book
    .img-wrapper
      img(src=the_vegetarian)
    .book-info
      .title The Vegetarian
      .author Han Kang
      .publish-info 2016, transl. from Korean
      .read-date 3 Sep - 28 Dec 2016
    .review 
  


                
  .book
    .img-wrapper
      img(src=the_awakening)
    .book-info
      .title The Awakening
      .author Kate Chopin
      .publish-info 1899
      .read-date 16 - 27 Jul 2016
    .review 
  


                
  .book
    .img-wrapper
      img(src=hard_boiled_wonderland)
    .book-info
      .title Hard-Boiled Wonderland and the End of the World
      .author Haruki Murakami
      .publish-info 1985, transl. from Japanese
      .read-date 1 Jun - 6 Jul 2016
    .review If you liked Calvino's <i>Invisible Cities</i> and if you like Murakami, I think you'll enjoy this. 



                
  //- .book
  //-   .img-wrapper
  //-     img(src=)
  //-   .book-info
  //-     .title 
  //-     .author 
  //-     .publish-info 
  //-     .read-date 
  //-   .review 


                
  //- .book
  //-   .img-wrapper
  //-     img(src=)
  //-   .book-info
  //-     .title 
  //-     .author 
  //-     .publish-info 
  //-     .read-date 
  //-   .review 
  
  
  