include layout
include readwell_imgs

link(rel='stylesheet', href='/stylesheets/readwell_style.css')

block content
  h1
    i readwell

  //- .sub My personal goodreads

  
  br

 
  //- h2
  //-   i currently reading

  div Currently reading:
  br
  br

  .book
    img(src=consider_the_lobster)
    .book-info
      .title Consider the Lobster and Other Essays
      .author David Foster Wallace
      .publish-info 2005
      .start-date April 2020
      .end-date -
    //- .review 

  .book
    img(src=walden)
    .book-info
      .title Walden and Resistance to Civil Government
      .author Henry David Thoreau
      .publish-info 1849
      .start-date March 2020
      .end-date -
    //- .review 

  .book
    img(src=ariel)
    .book-info
      .title Ariel
      .author Sylvia Plath
      .publish-info 1966
      .start-date Mar 2020
      .end-date -
    //- .review 


  .book
    img(src=a_little_life)
    .book-info
      .title A Little Life
      .author Hanya Yanagihara
      .publish-info 2016
      .start-date Mar 2020
      .end-date -
    .review slam my heart into the ground

  .book
    img(src=a_writers_diary)
    .book-info
      .title A Writer's Diary
      .author Virginia Woolf
      .publish-info 1953
      .start-date 20 Feb 2020
      .end-date -
    .review Here Are My Thoughts!!!! I love V. Woolf heheh ehu huahu ehu huweah kaufjansdf,jsadnf,asdnf ,asn,.fsg,sagn.s,akn


  .book
    img(src=understanding_power)
    .book-info
      .title Understanding Power: The Indispensable Chomsky
      .author Noam Chomsky
      .publish-info 2002
      .start-date 20 Oct 2019
      .end-date -
    .review my man

  //- br
  //- h2
  //-   i read
  //- br

  br
  br
  div Read:
  br
  br

  .book
    img(src=welcome_to_the_monkey_house)
    .book-info
      .title Welcome to the Monkey House
      .author Kurt Vonnegut
      .publish-info 1968
      .start-date 15 Mar 2020
      .end-date 11 Apr 2020
    .review Exploratory, mysterious, always wholesome in the end


    